@using Mpmt.Core.Dtos.Transaction;
@model IEnumerable<TransactionStatus>

<div class="card-body p-0 auth-header-box mb-3">
    <div class="table-responsive">
        <table class="table table-hover mb-0 table-sm">
            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td><span>Transaction Id :</span></td>
                        <td><span><strong style="color: #f98c45">#@data.TransactionId</strong></span></td>
                    </tr>
                    <tr>
                        <td><span>Gateway Txn Id :</span></td>
                        @* <td><span>#@data.AgentTransactionId</span></td> *@
                        <td><span><strong style="color: #f98c45">#@data.AgentTransactionId</strong></span></td>
                    </tr>
                    <tr>
                        <td><span>Own Status :</span></td>
                        <td><span>@data.OwnStatus</span></td>
                    </tr>
                    <tr>
                        <td><span>Gateway Status :</span></td>
                        <td><span>@data.GatewayStatus</span></td>
                    </tr>
  
                    <tr>
                        <td><span>Transaction State :</span></td>
                        <td><span>@data.TransactionState</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <div class="button-items">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>