@using Mpmt.Core.ViewModel.ForgotPassword;
@model PasswordResetModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MyPay Remit - Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo-sm.png">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="text-center p-3">
                                    <a href="index.php" class="logo logo-admin">
                                        <img src="~/assets/images/logo.png" height="50" alt="logo" class="auth-logo">
                                        <p>Please enter your new password!</p>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="p-3">
                                    @* <form class="form-horizontal auth-form" method="post" asp-area="admin" asp-controller="Login" asp-action="PasswordReset"> *@
                                    <form class="form-horizontal auth-form" method="post">
                                        <ul>
                                            @if (ViewBag.Error is not null)
                                            {
                                                <li class="text-danger">@ViewBag.Error</li>
                                            }
                                        </ul>
                                        <input asp-for="@Model.ResetToken" hidden />
                                        <input asp-for="@Model.ResetRequestToken" hidden />

@* 
                                        <div class="form-group mb-2">
                                            <label class="form-label">New Password</label>
                                            <div class="input-group">
                                                <input asp-for="NewPassword" type="password" class="form-control" id="id_password" placeholder="Enter password" required> &ensp;
                                                <i id="togglePassword" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div> *@

                                        <div class=" form-control-wrap focused mb-2">
                                            <label class="form-label" for="userpassword">New Password<span style="color:firebrick">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                                <input asp-for="NewPassword"  id="NewPassword" type="password" class="form-control" placeholder="Password">
                                                <!-- Eye icon toggle -->
                                                <span class="input-group-text toggle-password" onclick="togglePassword('NewPassword', 'eyeToggleNew')">
                                                    <i class="mdi mdi-eye-off-outline" id="eyeToggleNew"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>

                                        <!-- <div class="form-group mb-2">
                                            @* <label class="form-label" for="NewPassword">New Password</label> *@
                                            <label class="form-label">New Password</label>
                                            <div class="input-group">
                                                @* <input type="text" class="form-control" name="NewPassword" id="newPassword" placeholder="Enter password" required> *@
                                                <input type="text" class="form-control" asp-for="NewPassword" placeholder="Enter password" required>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div> --> <!--end form-group-->

@* 
                                        <div class="form-group mb-2">
                                            <label class="form-label">Confirm Password</label>
                                            <div class="input-group">
                                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="id_confirm_password" placeholder="Confirm password" required> &ensp;
                                                <i id="togglePasswordConfirm" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div> *@

                                        <div class=" mb-3 form-control-wrap focused mb-2">
                                            <label class="form-label" for="userpassword">Confirm Password<span style="color:firebrick">*</span></label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                                <input asp-for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Password">
                                                <!-- Eye icon toggle -->
                                                <span class="input-group-text toggle-password" onclick="togglePassword('confirmPassword', 'eyeToggleConfirm')">
                                                    <i class="mdi mdi-eye-off-outline" id="eyeToggleConfirm"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <!--<div class="form-group mb-2">
                                            @* <label class="form-label" for="ConfirmPassword">Confirm Password</label> *@
                                            <label class="form-label">Confirm Password</label>
                                            <div class="input-group">
                                                @* <input type="text" class="form-control" name="ConfirmPassword" id="confirmPassword" placeholder="Confirm password" required> *@
                                                <input type="text" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm password" required>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div> -->
                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary w-100 waves-effect waves-light">Confirm <i class="fas fa-sign-in-alt ms-1"></i></button>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center">
                                <span class="text-muted d-none d-sm-inline-block">
                                    MyPay Remit ©
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                </span>
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->

    <script>

        function togglePassword(inputId, eyeIconId) {
            debugger;
            var passwordInput = document.getElementById(inputId);
            var eyeIcon = document.getElementById(eyeIconId);

            if (passwordInput && eyeIcon) {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeIcon.classList.remove('mdi-eye-off-outline');
                    eyeIcon.classList.add('mdi-eye-outline');
                } else {
                    passwordInput.type = "password";
                    eyeIcon.classList.remove('mdi-eye-outline');
                    eyeIcon.classList.add('mdi-eye-off-outline');
                }
            } else {
                console.error('Element with ID', inputId, 'or', eyeIconId, 'not found.');
            }
        }

        const togglePass = document.querySelector('#togglePassword');
        const togglePassConfirm = document.querySelector('#togglePasswordConfirm');
        const pass = document.querySelector('#id_password');
        const passConfirm = document.querySelector('#id_confirm_password');


        togglePass.addEventListener('click', function (e) {
            const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
            pass.setAttribute('type', type);

            togglePass.classList.toggle('mdi-eye');
            togglePass.classList.toggle('mdi-eye-off');
        });
        togglePassConfirm.addEventListener('click', function (e) {
            const type = passConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passConfirm.setAttribute('type', type);

            togglePassConfirm.classList.toggle('mdi-eye');
            togglePassConfirm.classList.toggle('mdi-eye-off');
        });
    </script>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
</body>
</html>