@using Mpmt.Core.Dtos.CashAgent;
@model ForgotPassword;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MyPay Remit - Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/assets/images/logo-sm.png">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="account-body accountbg">
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="text-center p-3">
                                    <a href="index.php" class="logo logo-admin">
                                        <img src="~/assets/images/logo.png" height="50" alt="logo" class="auth-logo">
                                        <p>Please enter your new password!</p>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="p-3">
                                    @* <form class="form-horizontal auth-form" method="post" asp-area="admin" asp-controller="Login" asp-action="PasswordReset"> *@
                                    <form class="form-horizontal auth-form" asp-action="ChangePassword" method="post">
                                        <ul>
                                            @if (ViewBag.Error is not null)
                                            {
                                                <li class="text-danger">@ViewBag.Error</li>
                                            }
                                        </ul>
                                        <input asp-for="PhoneNumber" hidden />
                                        <input asp-for="OTP" hidden />
                                        <input asp-for="ResetToken" hidden />
                                        <div class="form-group mb-2">
                                            <label class="form-label">New Password</label>
                                            <div class="input-group">
                                                <input asp-for="NewPassword" type="password"  maxlength="50" class="form-control" id="id_password" placeholder="Enter password" required> &ensp;
                                                <i id="togglePassword" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label class="form-label">Confirm Password</label>
                                            <div class="input-group">
                                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="id_confirm_password" placeholder="Confirm password" required> &ensp;
                                                <i id="togglePasswordConfirm" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary w-100 waves-effect waves-light">Confirm <i class="fas fa-sign-in-alt ms-1"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body bg-light-alt text-center">
                                <span class="text-muted d-none d-sm-inline-block">
                                    MyPay Remit ©
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const togglePass = document.querySelector('#togglePassword');
        const togglePassConfirm = document.querySelector('#togglePasswordConfirm');
        const pass = document.querySelector('#id_password');
        const passConfirm = document.querySelector('#id_confirm_password');

        togglePass.addEventListener('click', function (e) {
            const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
            pass.setAttribute('type', type);

            togglePass.classList.toggle('mdi-eye');
            togglePass.classList.toggle('mdi-eye-off');
        });
        togglePassConfirm.addEventListener('click', function (e) {
            const type = passConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passConfirm.setAttribute('type', type);

            togglePassConfirm.classList.toggle('mdi-eye');
            togglePassConfirm.classList.toggle('mdi-eye-off');
        });
    </script>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
</body>
</html>