@using Mpmt.Core.Dtos.PartnerSignUp;
@{
    Layout = null;
}
@model SignUpPartner
<html>
<head>
    <meta charset="utf-8" />
    <title>MyPay Remit Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo-sm.png">


    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link rel="~/stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/progressbar.css" rel="stylesheet" />

</head>

<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="text-center p-3">
                                    <a href="index.php" class="logo logo-admin">
                                        <img src="~/assets/images/logo.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <p class="text-muted  mb-0">Sign in to continue to MyPay Remit</p>
                                </div>
                            </div>
                            <section class="step-wizard">
                                <ul class="step-wizard-list">
                                    <li class="step-wizard-item current-item">
                                        <span class="progress-count">1</span>
                                        <span class="progress-label">User Details</span>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count">2</span>
                                        <span class="progress-label">Company Details</span>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count ">3</span>
                                        <span class="progress-label">Director Details</span>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count">4</span>
                                        <span class="progress-label">Document Details</span>
                                    </li>
                                </ul>
                            </section>
                            <div class="card-body p-0">

                                <div class="p-3">
                                    <h3 class="text-start">Contact Person</h3>
                                    <form class="form-horizontal auth-form" method="post" asp-action="SignUp" asp-controller="Registration" id="signup">
                                        <div class="row">
                                            @if (ViewBag.Error is not null)
                                            {
                                                <li class="text-danger">@ViewBag.Error</li>
                                            }
                                            <div class="col-md-6 mb-2 mb-2 text-start">
                                                <label class="form-label">First Name <span class="text-danger">*</span></label>
                                                <input asp-for="FirstName" id="firstName" type="text" class="form-control">
                                                <div class="form-check">
                                                    <input asp-for="Withoutfirstname" class="form-check-input" onchange="Namechange()" type="checkbox" id="ContinueWithoutUserFirstss">
                                                    <label class="form-check-label" for="ContinueWithoutFirstName">
                                                        Continue without First Name
                                                    </label>

                                                </div>
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-6 mb-2 mb-2 text-start">
                                                <label class="form-label">Last Name <span class="text-danger">*</span></label>
                                                <input type="text" asp-for="LastName" class="form-control">
                                                <span asp-validation-for="LastName" class="text-danger"></span>

                                            </div>
                                            <div class="col-md-12 mb-2 text-start">
                                                <label for="validationCustomUsername" class="form-label">Email <span class="text-danger">*</span></label>
                                                <div class="input-group has-validation">

                                                    @* <span class="input-group-text" id="inputGroupPrepend">@@</span> *@
                                                    <input type="email" asp-for="Email" class="form-control">
                                                </div>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            @* <div class="col-md-5 mb-2 text-start">
                                            <label class="form-label">Shortname <span class="text-danger">*</span></label>
                                            <input type="text" asp-for="ShortName" class="form-control">
                                            <span asp-validation-for="ShortName" class="text-danger"></span>
                                            </div> *@
                                            <div class="col-md-7 mb-2 text-start">
                                                <label for="validationCustomUsername" class="form-label">Phone Number <span class="text-danger">*</span></label>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <select class="form-select" asp-for="Callingcode" asp-items="@ViewBag.CallingCode">
                                                            <option value="">Select Calling Code</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input asp-for="PhoneNumber" onkeypress="return onlyNumberKey(event)" type="text" maxlength="10" class="form-control">

                                                    </div>

                                                </div>
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                            </div>

                                            <div class="col-md-5 mb-2 text-start">
                                                <label class="form-label">Position <span class="text-danger">*</span></label>
                                                <input type="text" asp-for="Position" class="form-control">
                                                <span asp-validation-for="Position" class="text-danger"></span>
                                            </div>


                                            <div class="col-md-6 mb-2 text-start">
                                                @* <label class="form-label">Password <span class="text-danger">*</span></label>
                                                <input type="password" asp-for="Password" class="form-control">
                                                <span asp-validation-for="Password" class="text-danger"></span> *@

                                                <label asp-for="Password" class="form-label">Password <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input asp-for="Password" maxlength="50" type="password" class="form-control" id="id_password"> &ensp;
                                                    <i id="togglePassword" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>


                                            <div class="col-md-6 mb-2 text-start">
                                                @* <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                                <input type="password" asp-for="ConfirmPassword" class="form-control">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@

                                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="id_confirm_password"> &ensp;
                                                    <i id="togglePasswordConfirm" class="mdi mdi-eye align-self-center font-16 icon-dual me-1"></i>
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <button class="btn btn-primary" id="submitButton" type="submit" disabled>Next</button>

                                    </form>
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center border-top">
                                <span class="text-muted d-none d-sm-inline-block">
                                    MyPay Remit © <script>
                                                      document.write(new Date().getFullYear())
                                    </script>
                                </span>
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    @*@await Component.InvokeAsync("Notyf")*@

    @*    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>
    <script>
    $("#mobile_code").intlTelInput({
    initialCountry: "in",
    separateDialCode: true,
    // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
    });


    </script>*@

    <script>



        // $(document).ready(function () {
        //     debugger;

        //     var form = document.getElementById('signup');
        //     var fields = form.querySelectorAll('input, textarea, select');
        //     var nextButton = document.getElementById('submitButton');
        //     var firstNameElement = document.getElementById('firstName');
        //     var checkboxElement = document.getElementById("ContinueWithoutUserFirstss");

        //     function checkFields() {
        //         let allFilled = true;
        //         //var checkboxvalue = false;
        //         fields.forEach(element => {

        //             // if ($('#ContinueWithoutUserFirstss').is(":checked") = true && field.value.trim()) {
        //             //     allFilled = true;
        //             // }

        //             // if (field.value.trim()) {
        //             //     allFilled = true;
        //             // }

        //             // else {
        //             //     allFilled = false;
        //             // }

        //             // if (checkboxElement.checked) {
        //             //     firstNameElement.value = '';
        //             //     firstNameElement.disabled = true;
        //             // } else {
        //             //     firstNameElement.disabled = false;
        //             // }


        //             debugger
        //             if (element.type === 'checkbox' || element.id == 'firstName') {
        //                 debugger
        //                 if (firstNameElement.value.trim() == '' && checkboxElement.checked == false) {
        //                     allFilled = false;
        //                 }
        //             } else if (element.value.trim() === '') {
        //                 debugger
        //                 allFilled = false;
        //             }

        //         });

        //         nextButton.disabled = !allFilled;
        //     }


        //     checkFields();

        //     fields.forEach(field => {
        //         field.addEventListener('input', checkFields);
        //         field.addEventListener('change', checkFields);
        //     });

            
        //     setupToggleButtons();
        //     // setupValidation();

        // });

        document.addEventListener('DOMContentLoaded', function () {
            //debugger;
            const form = document.getElementById('signup');
            const fields = form.querySelectorAll('input, textarea, select');
            const nextButton = document.getElementById('submitButton');
            const firstNameElement = document.getElementById('firstName');
            const checkboxElement = document.getElementById("ContinueWithoutUserFirstss");

            function checkFields() {
                let allFilled = true;

                fields.forEach(element => {

                    // if(field.)


                    // if (!field.value.trim()) {
                    //     // if (checkbox == true) {
                    //     //     allFilled = false;
                    //     // }
                    //     allFilled = false;
                    // }


                    if (checkboxElement.checked) {
                        firstNameElement.value = '';
                        firstNameElement.disabled = true;
                    } else {
                        firstNameElement.disabled = false;
                    }

                    debugger
                    if (element.type === 'checkbox' || element.id == 'firstName') {
                        debugger
                        if (firstNameElement.value.trim() == '' && checkboxElement.checked == false) {
                            allFilled = false;
                        }
                    } else if (element.value.trim() === '') {
                        debugger
                        allFilled = false;
                    }


                });


                nextButton.disabled = !allFilled;

            }

            checkFields(); // Initial check in case fields are pre-filled

            fields.forEach(field => {
                field.addEventListener('input', checkFields);
                field.addEventListener('change', checkFields);
            });

            setupToggleButtons();


        });




        function setupToggleButtons() {
            const togglePass = document.querySelector('#togglePassword');
            const togglePassConfirm = document.querySelector('#togglePasswordConfirm');
            const pass = document.querySelector('#id_password');
            const passConfirm = document.querySelector('#id_confirm_password');

            togglePass.addEventListener('click', function (e) {
                const type = pass.getAttribute('type') === 'password' ? 'text' : 'password';
                pass.setAttribute('type', type);
                togglePass.classList.toggle('mdi-eye');
                togglePass.classList.toggle('mdi-eye-off');
            });

            togglePassConfirm.addEventListener('click', function (e) {
                const type = passConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
                passConfirm.setAttribute('type', type);
                togglePassConfirm.classList.toggle('mdi-eye');
                togglePassConfirm.classList.toggle('mdi-eye-off');
            });
        }
    </script>

    <script>
        function Namechange() {
            debugger;
            //ar checkbox = document.getElementById("checkbutton").checked;
            var data = $('#ContinueWithoutUserFirstss').is(":checked");
            if (data) {
                $('#FirstName').val('');
                $('#FirstName').attr('disabled', 'disabled');

            } else {
                $('#FirstName').val('');
                $('#FirstName').removeAttr('disabled');
            }
        }



        function onlyNumberKey(evt) {

            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

        // Start updating remaining time
    </script>


</body>


</html>