@using Mpmt.Core.ViewModel.ModuleAction
@model IEnumerable<ModuleActionModelView>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Module Management</a></li>
                            <li class="breadcrumb-item active">Module Action List</li>
                        </ol>
                    </div>
                    <div class="col-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Module Action List</h4>
                        </div>
                        <div class="col-auto">
                            <div class="add-btn">
                                <a onclick="ShowPopUp('@Url.Action("AddModuleAction","ModuleAction")','Add Module Action')" class="btn btn-primary btn-shadow-2 btn-sm text-white">
                                    <i class="las la-plus ms-1"></i> Add Module Action
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="ModuleTableWrapper" class="table-responsive">
                        <partial name="_ModuleActionIndex" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("ModuleActionIndex", "ModuleAction")',
                selector: '#ModuleTableWrapper'
            });
            addPaginationHandlers();
        });
        function changeclass(Id) {

            console.log("clicked", Id);
            $("." + Id).toggleClass("hidden");
        }
      



    </script>
}