@{
    Layout = null;
    ViewData["Title"] = "Error!";
}

<h1>Error!</h1>

<p>
    We're sorry, but something went wrong.
</p>

<p>
    Please try again later or contact the administrator for assistance.
</p>