@using Mpmt.Core.ViewModel.DocumentType
@model UpdateDocumentTypeVm

<form id="DocumentTypeUpdateForm" class="form-horizontal auth-form" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            <li class="text-danger">@ViewBag.Error</li>
        }
    </ul>
    <div class="row">
        <input asp-for="Id" type="hidden" />
        <div class="col-md-12 form-group mb-2">
            <label class="form-label">Document Type</label>
            <div class="input-group">
                <input asp-for="DocumentType" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-12 form-group mb-2">
            <label class="form-label">Document Type Code</label>
            <div class="input-group">
                <input asp-for="DocumentTypeCode" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-12 form-group mb-2">
            <label class="form-label">Remarks</label>
            <div class="input-group">
                <input asp-for="Remarks" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-check form-switch mb-2">
        <input asp-for="IsExpirable" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Is Expirable</label>
    </div>
    <div class="form-check form-switch mb-2">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Is Active</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Update<i class="fas fa-paper-plane ms-1"></i></button>
    </div>
</form>
<script>
    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("UpdateDocumentType", "DocumentType")',
        containerSelector: '#add-new .modal-body',
        selector: '#DocumentTypeUpdateForm'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');
        Pagination.getData();
    });
</script>