
.form-label-outlined {
    position: absolute;
    top: 0.4375rem;
    left: 0.66667rem;
    transform-origin: left;
    padding: 0 0.4rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4d62;
    background-color: #fff;
    z-index: 1;
    transition: all .3s ease;
    margin-bottom: 0;
    font-size: 0.8125rem;
}
.form-control-wrap{
    position: relative;
}

.focused .form-label-outlined, .form-select ~ .form-label-outlined {
    top: calc(-0.4375rem + -2px);
    font-size: 11px;
}
.pr-2{
    padding-right:2px;
}
a{
    cursor: pointer !important;
}
.left-sidenav-menu li.mm-active > a {
    color: #6571ff;
    border-radius: 4px;
}
.ptb-10{
    padding-top: 5px;
    padding-bottom:5px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* @media only screen and (max-width: 1920px) {

  .card-body.overflow-x-auto {
    width: 1650px ;
    overflow-x: scroll ;
}
} */


@media only screen and (max-width: 1366px) {

  .card-body.overflow-x-auto {
    width: 1100px !important;
    overflow-x: scroll ;
}
} 

@media only screen  and (min-width : 1224px) {
    .card-body.overflow-x-auto {
        width: 1250px ;
        overflow-x: scroll ;
    }
    .modal-overflow {
        max-width: 1200px;
        overflow-x: auto;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */

    .card-body.overflow-x-auto {
        width: 1650px ;
        overflow-x: scroll ;
    }
    .modal-overflow {
        max-width: 1200px;
        overflow-x: auto;
    }
}


table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap;
}
.height-150 {
    height: 150px;
}
.align-self-center {
    align-self: center !important;
    text-align: center;
}


table.dataTable.unsetwidth {
    white-space: unset;
}

.iti {
    position: relative;
    display: block !important;
  }