<div class="card-body p-0 auth-header-box mb-3">
    <h2>Terms of Service</h2>
    <p>Welcome to MyPay Money Transfer! These terms of service ("Terms", "Terms of Service") outline the rules and regulations governing your use of the MyPay Money Transfer website (the "Website") and the services offered by MyPay Money Transfer (the "Service").</p>
    <h3>Acceptance of Terms</h3>
    <p>By accessing or using the Website or Service, you agree to be bound by these Terms. These Terms apply to all visitors, users, and others who access or use the Service.</p>
    <p>You acknowledge that you have read these Terms of Service and agree to all of them by using any portion of the website or by accessing any part of it. You are not permitted to access the website or use any services if you disagree with all of the terms and conditions of this agreement. Acceptance of this offer is clearly restricted to these Terms of Service, if these Terms of Service are regarded as such. The Terms of Service will also apply to any newly added tools or features to the already-existing applications or website.</p>
    <h3>Virtual Terms</h3>
    <p>You affirm that you are at least the legal age in your state, province, or nation of residence, or that you are the legal age, by accepting these Terms of Service.</p>
    <p>You are not permitted to use our services for any unauthorized or illegal purposes, nor are you permitted to break any local laws (such as copyright and AML/CTF regulations) by using the Service.</p>
    <p>It is forbidden for you to send any viruses, worms, or destructive codes.</p>
    <p>Your services will be immediately terminated for any breach or violation of the Terms, and the appropriate authorities will be notified.</p>
    <h3>General Terms and Conditions</h3>
    <p>We reserve the right to deny service to anybody for any reason, at any time.</p>
    <p>You acknowledge that there's a chance your content will be sent over different networks, possibly without encryption, and that it may undergo modifications to meet the technical needs of connected devices or networks.</p>
    <p>Without our prior written consent, you guarantee not to replicate, copy, sell, resell, or exploit any part of the service, use of the service, access to the service, or any contact on the website through which the service is provided.</p>
    <h3>Information Accuracy, Completeness, and Timeliness</h3>
    <p>We will guarantee the exact FX rate upon deal confirmation, but we cannot be held accountable if the FX rate displayed on this website is not 100% accurate due to volatility. The information on this website is meant only for general information purposes; it should not be relied upon or used as the only basis for decisions without first consulting primary sources of information that are more reliable, accurate, complete, or timely. You bear all liability for relying on any content on this website.</p>
    <p>There may be historical information on this website. Information from the past is necessarily out of date and is given solely for your reference. We maintain the right to change anything on this website.</p>
    <h3>Adjustments to the Service and Fees</h3>
    <p>Our service fees and foreign exchange rates are subject to change at any time.</p>
    <p>Without prior notice, we reserve the right to alter or terminate the Service (or any portion or content thereof) at any time.</p>
    <p>For any modification, price change, suspension, or discontinuance of the Service, we shall not be liable to you or any third party; nonetheless, we will give our customers reasonable notice and adhere to all applicable laws in Nepal</p>
    <h3>Services</h3>
    <p>Certain service promotions might only be accessible online via the website or applications. These promotional services might only be available in certain quantities, and if they are discovered to be unethical, they could be void or returned.</p>
    <p>Although we have done our best to display the FX as accurately as possible, we cannot guarantee that the displayed exchange rate will be accurate when you confirm the deal.</p>
    <p>We have no obligation to, but we reserve the right to restrict who can purchase our service, to any country, area, or jurisdiction. We reserve the right to use this authority as needed. We maintain the right to restrict the number of services we provide. Anytime, without prior notice, and at our sole discretion, we reserve the right to change the pricing of all FX rates. Anytime, we have the right to stop providing any services. Where prohibited, any offer made on this website for any service is null and void.</p>
    <p>We cannot guarantee that you will receive our services at the precise time you requested because each country has different laws, regulations, and facilities.</p>
</div>