@using Mpmt.Core.ViewModel.ChangePassword;
@model PartnerChangePasswordVM

<form id="PartnerChangePassword" class="form-horizontal auth-form" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            <li class="text-danger">@ViewBag.Error</li>
        }
    </ul>
    <div class="row">
        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="oldPassword">Old Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="OldPassword" id="oldPassword" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('oldPassword', 'eyeToggleOld')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleOld"></i>
                </span>
            </div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="newPassword">New Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="NewPassword" id="newPassword" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('newPassword', 'eyeToggleNew')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleNew"></i>
                </span>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="confirmPassword">Confirm Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('confirmPassword', 'eyeToggleConfirm')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleConfirm"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button> &emsp;
        <button type="submit" class="btn btn-sm btn-primary">Submit<i class="fas fa-paper-plane ms-1"></i></button>
    </div>
</form>

<script>
    function togglePassword(inputId, eyeIconId) {
        debugger;
        var passwordInput = document.getElementById(inputId);
        var eyeIcon = document.getElementById(eyeIconId);

        if (passwordInput && eyeIcon) {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove('mdi-eye-off-outline');
                eyeIcon.classList.add('mdi-eye-outline');
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove('mdi-eye-outline');
                eyeIcon.classList.add('mdi-eye-off-outline');
            }
        } else {
            console.error('Element with ID', inputId, 'or', eyeIconId, 'not found.');
        }
    }

    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("ChangePassword", "Dashboard")',
        containerSelector: '#add-new .modal-body',
        selector: '#PartnerChangePassword'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');

    });

</script>

<script src="~/js/ValidationScript.js"></script>
