@using Mpmt.Core.Dtos.CashAgent;
@model OtpValidationAgent

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MyPay Remit - Agent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/assets/images/logo-sm.png">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="account-body accountbg">
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-4 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 ">
                                <div class="text-center p-3">
                                    <a href="index.php" class="logo logo-admin">
                                        <img src="~/assets/images/logo.png" height="80" alt="logo" class="auth-logo">
                                    </a>
                                    <p class="text-muted  mb-0">Check your email for OTP Verification</p>
                                    <p class="text-muted  mb-0">OTP code was sent to your email @Model.Email</p>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="p-3">
                                    <form class="form-horizontal auth-form" asp-action="VerifyOtp" asp-controller="AgentRegistration">
                                        <input asp-for="Email" hidden readonly />
                                        <input asp-for="PhoneNumber" hidden readonly />
                                        <div class="form-group mb-2 text-start">
                                            <label class="form-label">OTP <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <input type="text" asp-for="Otp" onkeypress="return onlyNumberKey(event)" class="form-control" name="Otp" id="otp" placeholder="Enter OTP">
                                            </div>
                                            <span asp-validation-for="Otp" class="text-danger"></span>
                                        </div>
                                        <p class="text-center mb-0" id="timerDisplay">Did not receive otp you can resend</p>
                                        <div class="form-group mb-0 row mt-0">
                                            @* <div class="col-12">
                                                <a class="btn b w-100 waves-effect waves-light border-none " onclick="ChangePagesize2('@Url.Action("Resendotp","Registration")','@Model.Email')">Resend</a>
                                            </div> *@
                                            <div class="col-12 mt-2">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Verify</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body bg-light-alt text-center border-top">
                                <span class="text-muted d-none d-sm-inline-block">
                                    MyPay Remit © <script>
                                                      document.write(new Date().getFullYear())
                                    </script>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    <script>
        var startTimerButton = document.getElementById("startTimerButton");
        var timerDisplay = document.getElementById("timerDisplay");
        var timer;
        var countdown = 120;
        function startCountdown() {
            countdown = 120;
            startTimerButton.style.visibility = 'hidden';
            timer = setInterval(function () {
                countdown--;
                if (countdown <= 0) {
                    clearInterval(timer);
                    startTimerButton.style.visibility = 'visible';
                    timerDisplay.textContent = "You can resend OTP Now";
                } else {
                    timerDisplay.textContent = "You can resend OTP in " + countdown + " seconds ";
                }
            }, 1000);
        }
        startTimerButton.addEventListener("click", startCountdown);
        startCountdown();
    </script>
    <script>
        ChangePagesize2 = (url, data) => {
            var FilteDetails = {
                Email: data,
            };
            var Url = url + "?Email=" + data;
            var jsonData = JSON.stringify(FilteDetails);
            $.ajax({
                type: "POST",
                url: Url,
                data: jsonData,
                contentType: "application/json",
                success: function (result) {
                },
                error: function (result) {
                }
            });
            return false;
        }
        function onlyNumberKey(evt) {
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    </script>
</body>
</html>