@using Mpmt.Core.Dtos.AgentApplications;
@using Mpmt.Core.Dtos.Paging;
@model PagedList<AgentApplicationsModel>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item "><a href="javascript:void(0);">Feedback</a></li>
                                <li class="breadcrumb-item active">Agent Applications</li>
                            </ol>
                        </div>
                        <div class="col-auto">
                            <form id="formAgentApplicationsFilter" class="row row-cols-lg-auto align-items-end">
                                <div class="col-12 mb-2">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">Start Date</label>
                                    <input type="date" name="StartDate" class="form-control">
                                </div>
                                <div class="col-12 mb-2">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">End Date</label>
                                    <input type="date" name="EndDate" class="form-control">
                                </div>
                                <div class="col-12 mb-2">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Full Name</label>
                                    <div class="input-group">
                                        <input type="text" name="FullName" class="form-control" id="inlineFormInputGroupUsername" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <button id="btnAgentApplicationsFilter" type="button" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Agent Applications List</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body overflow-x-auto">
                        <partial name="_PaginationHeader" />
                        <div id="AgentApplicationsTableWrapper" class="table-responsive">
                            <partial name="_AgentApplicationsList" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("AgentApplicationsIndex", "AgentApplications")',
                selector: '#AgentApplicationsTableWrapper'
            });

            $(Pagination).on('before', function (e) {
                e.preventDefault();
                var usersFilterFormValues = $('#formAgentApplicationsFilter').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });
                e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            });

            addUsersPageHandlers();
            addPaginationHandlers();
            function addUsersPageHandlers() {
                $('#formAgentApplicationsFilter').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                })

                $('#btnAgentApplicationsFilter').on('click', function (e) {
                    e.preventDefault();
                    Pagination.getData();
                    return false;
                });
            }
        });
    </script>
}