@using Mpmt.Core.Dtos.AddressProofType
@using Mpmt.Core.Models.RMP;
@model IEnumerable<AddressProofTypeDetails>

@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Setting</a></li>
                            <li class="breadcrumb-item active">Address Proof Type List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Address Proof Type List</h4>
                        </div>
                        <div class="col-auto">
                            <div class="add-btn">
                                @if (actors.FirstOrDefault(x => x.Action == "AddProofType")?.Permission ?? false)
                                {
                                    <a onclick="ShowPopUp('@Url.Action("AddProofType","AddressProofType")','Add Proof Type')" class="btn btn-primary btn-shadow-2 btn-sm text-white">
                                        <i class="las la-plus ms-1"></i> Add Proof Type
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="DocumentTypeTableWrapper" class="table-responsive">
                        <partial name="_ProofTypeIndex" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("ProofTypeIndex", "AddressProofType")',
                selector: '#DocumentTypeTableWrapper'
            });
            addPaginationHandlers();
        });
    </script>
}