USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Users_list]    Script Date: 8/13/2023 10:23:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
ALTER PROCEDURE [dbo].[sp_get_Users_list]  
 (  
	 @UserName nvarchar(12) = ''  
	,@Email nvarchar(200) = ''   
	,@MobileNo nvarchar(200)=''
	,@KycStatusCode nvarchar(20) = ''  ----Customer KycStatusCode  
	,@countryCode nvarchar(20)=''
	,@UserStatus int=0
	,@PageNumber INT = 1
	,@PageSize INT = 20
	,@SortingCol AS VARCHAR(100) ='CreatedDate'
	,@SortType AS VARCHAR(100) = 'ASC'
	,@SearchVal NVARCHAR(300) =''
	,@Export INT = 0
 )  
AS    
BEGIN    
  
	SET NOCOUNT ON;  
	DBCC FREEPROCCACHE; 

	DECLARE @FilteredCount INT, @TotalCount INT, @TotalPages INT, @PageIndex INT;

	IF(ISNULL(@Export,0) = 1)
		SET @Export = 1;
	ELSE
		SET @Export = 0;

	IF(ISNULL(@PageSize, 0) <= 0)
		SET @PageSize=20;

	IF(ISNULL(@PageSize, 0) > 100)
		SET @PageSize=100;
	
	IF(ISNULL(@PageNumber, 0) <= 0)
		SET @PageNumber = 1;

	IF(ISNULL(@SortingCol,'') = '')
	BEGIN
		SET @SortingCol = 'CreatedDate'
	END
	IF(ISNULL(@SortType,'') = '')
	BEGIN
		SET @SortType = 'ASC'
	END 

IF(@Export = 0)  ------DO PAGINATION
BEGIN
	----===================TOTAL COUNT =========================
	SELECT @TotalCount = COUNT(1) FROM [dbo].tbl_users U WITH(NOLOCK)	
	WHERE  ISNULL(UserName,'') LIKE ISNULL(REPLACE(@UserName,' ',''),'') + '%' 
		AND ISNULL(U.MobileNumber,'') LIKE ISNULL(@MobileNo,'') + '%' AND ISNULL(u.Email,'') LIKE ISNULL(@Email,'') + '%'   
	
		

	----===================FILTERED COUNT =========================
	SELECT @FilteredCount = COUNT(1) FROM [dbo].tbl_users U WITH(NOLOCK)
	WHERE  ISNULL(UserName,'') LIKE ISNULL(REPLACE(@UserName,' ',''),'') + '%' 
		AND ISNULL(U.MobileNumber,'') LIKE ISNULL(@MobileNo,'') + '%' AND ISNULL(u.Email,'') LIKE ISNULL(@Email,'') + '%'   
		AND (
			u.FullName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR U.UserName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR u.Email LIKE '%'+ISNULL(@SearchVal,'')+'%' OR u.MobileNumber LIKE '%'+ISNULL(@SearchVal,'')+'%' 			
			)

----=========== GET FILTERED RESULT SET WITH PAGINATION ===========	  
	SELECT   
	Id,
	ROW_NUMBER() OVER (order by (select 1)) AS SN,  	
	FullName	
	,u.Email	
	,CASE WHEN EmailConfirmed = 1 THEN 'True' ELSE 'False' END AS [EmailConfirmed]
	,Gender
	,Address
	,DateOfBirth
	,u.MobileNumber	
	,CASE WHEN MobileConfirmed = 1 THEN 'True' ELSE 'False' END AS [MobileConfirmed]
	,FORMAT(u.CreatedLocalDate,'yyyy-MM-dd HH:mm:ss') AS RegisteredDate	
	,FailedLoginAttempt	
	,DATEADD(minute, 45,DATEADD(hour, 5,TemporaryLockedTillUtcDate)) AS TemporaryLockedTillDate
	,IsActive
	FROM [dbo].tbl_users u WITH(NOLOCK)   
	WHERE  ISNULL(UserName,'') LIKE ISNULL(REPLACE(@UserName,' ',''),'') + '%' 
		AND ISNULL(U.MobileNumber,'') LIKE ISNULL(@MobileNo,'') + '%' AND ISNULL(u.Email,'') LIKE ISNULL(@Email,'') + '%'  
		AND (
		CASE 
		WHEN @UserStatus = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @UserStatus = 1 AND IsActive =  1 THEN 1
		WHEN @UserStatus = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1
		AND (
			u.FullName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR U.UserName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR u.Email LIKE '%'+ISNULL(@SearchVal,'')+'%' OR u.MobileNumber LIKE '%'+ISNULL(@SearchVal,'')+'%' 			
			)
	ORDER BY 

	CASE WHEN @SortingCol = 'CreatedDate' AND @SortType ='ASC' THEN u.CreatedLocalDate END ,
	CASE WHEN @SortingCol = 'CreatedDate' AND @SortType ='DESC' THEN u.CreatedLocalDate END DESC
	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;	
END
ELSE
BEGIN
	----=========== GET ALL FILTERED RESULT ===========	  
	SELECT   
	Id,
	ROW_NUMBER() OVER (order by (select 1)) AS SN,  	
	FullName	
	,u.Email	
	,CASE WHEN EmailConfirmed = 1 THEN 'True' ELSE 'False' END AS [EmailConfirmed]
	,Gender
	,Address
	,DateOfBirth
	,u.MobileNumber	
	,CASE WHEN MobileConfirmed = 1 THEN 'True' ELSE 'False' END AS [MobileConfirmed]
	,FORMAT(u.CreatedLocalDate,'yyyy-MM-dd HH:mm:ss') AS RegisteredDate	
	,FailedLoginAttempt	
	,DATEADD(minute, 45,DATEADD(hour, 5,TemporaryLockedTillUtcDate)) AS TemporaryLockedTillDate
	,IsActive
	FROM [dbo].tbl_users u WITH(NOLOCK)   
	WHERE  ISNULL(UserName,'') LIKE ISNULL(REPLACE(@UserName,' ',''),'') + '%' 
		AND ISNULL(U.MobileNumber,'') LIKE ISNULL(@MobileNo,'') + '%' AND ISNULL(u.Email,'') LIKE ISNULL(@Email,'') + '%'   
		AND (
		CASE 
		WHEN @UserStatus = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @UserStatus = 1 AND IsActive =  1 THEN 1
		WHEN @UserStatus = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1
		AND (
			u.FullName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR U.UserName LIKE '%'+ISNULL(@SearchVal,'')+'%' 
			OR u.Email LIKE '%'+ISNULL(@SearchVal,'')+'%' OR u.MobileNumber LIKE '%'+ISNULL(@SearchVal,'')+'%' 			
			)
	ORDER BY 

	CASE WHEN @SortingCol = 'CreatedDate' AND @SortType ='ASC' THEN u.CreatedLocalDate END ,
	CASE WHEN @SortingCol = 'CreatedDate' AND @SortType ='DESC' THEN u.CreatedLocalDate END DESC
	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;	
END


----=========== GET PAGINATION DATA ===========	
	IF(@FilteredCount = 0)
	BEGIN
		SET @TotalPages = 1;
	END
	ELSE IF((@FilteredCount % @PageSize) = 0)
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize);
	END
	ELSE
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize) + 1;
	END

	IF(@PageNumber > @TotalPages)
		SET @PageNumber = 1;

	SELECT @PageNumber AS PageNumber, @PageSize AS PageSize, @TotalCount AS TotalCount, @FilteredCount AS FilteredCount, @TotalPages AS TotalPages;
 
END 

