USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_log_user_activity]    Script Date: 8/18/2023 12:24:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[usp_log_user_activity]
(	
	@UserName NVARCHAR(200) = NULL,
	@Email NVARCHAR(200)	= NULL,
	@IsCustomer BIT = NULL,
	@UserAgent NVARCHAR(500) = NULL,
	@RemoteIpAddress NVARCHAR(100) = NULL,
	@HttpMethod NVARCHAR(10) = NULL,
	@ControllerName NVARCHAR(100) = NULL,
	@ActionName NVARCHAR(100) = NULL,
	@QueryString NVARCHAR(2000) = NULL,
	@IsFormData BIT =  NULL,
	@RequestBody NVARCHAR(MAX) = NULL,	
	@Headers NVARCHAR(max) = NULL,
	@RequestUrl NVARCHAR(500) = NULL,
	@MachineName NVARCHAR(200) = NULL,
	@Environment NVARCHAR(200) = NULL,
	@UserAction NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO tbl_user_activity_logs(
		UserName,
		Email,
		IsCustomer,
		UserAgent,
		RemoteIpAddress,
		HttpMethod,
		ControllerName,
		ActionName,
		QueryString,
		IsFormData,
		RequestBody,
		Headers,
		RequestUrl,
		MachineName,
		Environment,
		UserAction,
		LogLocalDate,
		LogUtcDate
		)
    VALUES (
		@UserName,
		@Email,
		@IsCustomer,
		@UserAgent,
		@RemoteIpAddress,
		@HttpMethod,
		@ControllerName,
		@ActionName,
		@QueryString,
		@IsFormData,
		@RequestBody,
		@Headers,
		@RequestUrl,
		@MachineName,
		@Environment,
		@UserAction,
		GETDATE(),
		GETUTCDATE()
		);
	SET NOCOUNT OFF;
END
