USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_users]    Script Date: 8/28/2023 11:40:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Rohit poudel
--- Created Date	: Auto Generated By AutoGenerator 
--- Description		: Procedure For Auto Create Insert Proc 


ALTER Proc [dbo].[Usp_IUD_users](	@Event char(2) = 'I', 	@Id Int = 0, 	@UserName varchar(100),	@FullName varchar(200)=NULL,	@Email varchar(200)=NULL,	@EmailConfirmed bit=NULL,	@MobileNumber varchar(30)=NULL,	@MobileConfirmed bit=NULL,	@Gender varchar(20)=NULL,	@Address varchar(500)=NULL,	@Department varchar(150)=NULL,	@DateOfBirth datetime2=NULL,	@DateOfJoining datetime2=NULL,	@PasswordHash nvarchar(512)=NULL,	@PasswordSalt nvarchar(Max)=NULL,	@AccessCodeHash nvarchar(512)=NULL,	@AccessCodeSalt nvarchar(Max)=NULL,	@FailedLoginAttempt int=NULL,	--@TemporaryLockedTillUtcDate datetime2=NULL,	@ProfileImageUrlPath varchar(512)=NULL,	@LastIpAddress varchar(100)=NULL,	@DeviceId nvarchar(Max)=NULL,	@IsActive bit=NULL,	@IsDeleted bit=NULL,	@IsBlocked bit=NULL,	@Is2FAAuthenticated bit=NULL,	@AccountSecretKey nvarchar(500)=NULL,	@RoleId int=0,	--@LastLoginDateUtc datetime2=NULL,	--@LastActivityDateUtc datetime2=NULL,	@LoggedInUser varchar(100)=NULL,	--@CreatedBy varchar(100)=NULL,	--@CreatedLocalDate datetime2=NULL,	--@CreatedUtcDate datetime2=NULL,	--@CreatedNepaliDate varchar(20)=NULL,	--@UpdatedBy varchar(100)=NULL,	--@UpdatedLocalDate datetime2=NULL,	--@UpdatedUtcDate datetime2=NULL,	--@UpdatedNepaliDate varchar(20)=NULL,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT


SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0



If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
		IF (ISNULL(@UserName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'UserName is required'
		RETURN
	END
	IF (ISNULL(@RoleId, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Role Id is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	INSERT INTO [dbo].[tbl_users]
           ([UserName]
           ,[FullName]
           ,[Email]
           ,[EmailConfirmed]
           ,[MobileNumber]
           ,[MobileConfirmed]
           ,[Gender]
           ,[Address]
           ,[Department]
           ,[DateOfBirth]
           ,[DateOfJoining]
           ,[PasswordHash]
           ,[PasswordSalt]
           ,[AccessCodeHash]
           ,[AccessCodeSalt]
           ,[FailedLoginAttempt]
           ,[TemporaryLockedTillUtcDate]
           ,[ProfileImageUrlPath]
           ,[LastIpAddress]
           ,[DeviceId]
           ,[IsActive]
           ,[IsDeleted]
           ,[IsBlocked]
           ,[Is2FAAuthenticated]
           ,[AccountSecretKey]
           ,[LastLoginDateUtc]
           ,[LastActivityDateUtc]
           ,[CreatedBy]
           ,[CreatedLocalDate]
           ,[CreatedUtcDate]
           ,[CreatedNepaliDate]
           ,[UpdatedBy]
           ,[UpdatedLocalDate]
           ,[UpdatedUtcDate]
           ,[UpdatedNepaliDate])
     VALUES	(			@UserName,		@FullName,		@Email,		@EmailConfirmed,		@MobileNumber,		@MobileConfirmed,		@Gender,		@Address,		@Department,		@DateOfBirth,		@DateOfJoining,		@PasswordHash,		@PasswordSalt,		@AccessCodeHash,		@AccessCodeSalt,		@FailedLoginAttempt,		NULL,		@ProfileImageUrlPath,		@LastIpAddress,		@DeviceId,		@IsActive,		@IsDeleted,		@IsBlocked,		0,		NULL,		NULL,		GETUTCDATE(),		@LoggedInUser,		GETDATE(),		GETUTCDATE(),		NULL,		NULL,		NULL,		NULL,		NULL	)  

	
INSERT INTO [dbo].[tbl_user_roles]
           ([UserId]
           ,[RoleId])
     VALUES
           (@@IDENTITY,
           @RoleId)
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
		IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@RoleId, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Role Id is required'
		RETURN
	END
	IF (ISNULL(@UserName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'User Name is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_users Set 		[UserName] = @UserName,		[FullName] = @FullName,		[Email] = @Email,		[EmailConfirmed] = @EmailConfirmed,		[MobileNumber] = @MobileNumber,		[MobileConfirmed] = @MobileConfirmed,		[Gender] = @Gender,		[Address] = @Address,		[Department] = @Department,		[DateOfBirth] = @DateOfBirth,		[DateOfJoining] = @DateOfJoining,		--[PasswordHash] = @PasswordHash,		--[PasswordSalt] = @PasswordSalt,		[AccessCodeHash] = @AccessCodeHash,		[AccessCodeSalt] = @AccessCodeSalt,		[FailedLoginAttempt] = @FailedLoginAttempt,		[TemporaryLockedTillUtcDate] = NULL,		[ProfileImageUrlPath] = @ProfileImageUrlPath,		[LastIpAddress] = @LastIpAddress,		[DeviceId] = @DeviceId,		[IsActive] = @IsActive,			[IsBlocked] = @IsBlocked,		--[Is2FAAuthenticated] = @Is2FAAuthenticated,		--[AccountSecretKey] = @AccountSecretKey,		[LastLoginDateUtc] = GETUTCDATE(),		[LastActivityDateUtc] = GETUTCDATE(),			[UpdatedBy] = @LoggedInUser,		[UpdatedLocalDate] = NULL,		[UpdatedUtcDate] = GETUTCDATE(),		[UpdatedNepaliDate] = NULL		 Where [Id] = @Id		if(Exists(select 1 from tbl_user_roles where UserId=@Id ))		BEGIN		UPDATE [dbo].[tbl_user_roles]
       SET 
      [RoleId] = @RoleId
     WHERE UserId=@Id		END		else		BEGIN		INSERT INTO [dbo].[tbl_user_roles]
           ([UserId]
           ,[RoleId])
     VALUES
           (@Id,
           @RoleId)		END		Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	BEGIN TRY
		Update dbo.tbl_users Set 		[IsDeleted] = 1,			[UpdatedBy] = @LoggedInUser,		[UpdatedLocalDate] = NULL,		[UpdatedUtcDate] = GETUTCDATE(),		[UpdatedNepaliDate] = NULL	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'
		Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 