USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_action]    Script Date: 8/29/2023 4:35:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Rohit poudel
--- Created Date	: Auto Generated By AutoGenerator 
--- Description		: Procedure For Auto Create Insert Proc 


ALTER Proc [dbo].[Usp_IUD_action](	@Event char(2) = 'I', 	@Id Int = 0, 	@Action varchar(250),	@IsActive bit,	@DisplayOrder int,	@CreatedBy varchar(20),	@CreatedLocalDate datetime2,	@CreatedUtcDate datetime2,	@CreatedNepaliDate varchar(20),	@UpdatedBy varchar(20),	@UpdatedLocalDate datetime2,	@UpdatedUtcDate datetime2,	@UpdatedNepaliDate varchar(7),	@LoggedInUser varchar(100)=NULL,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT

SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0

	SET @Action=TRIM(@Action)

If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------

   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	INSERT INTO [dbo].[tbl_action]
           ([Action]
           ,[IsActive]
           ,[DisplayOrder]
           ,[CreatedBy]
           ,[CreatedLocalDate]
           ,[CreatedUtcDate]
           ,[CreatedNepaliDate]
           ,[UpdatedBy]
           ,[UpdatedLocalDate]
           ,[UpdatedUtcDate]
           ,[UpdatedNepaliDate])
     VALUES	(			@Action,		@IsActive,		@DisplayOrder,		@LoggedInUser,		GETDATE(),		GETUTCDATE(),		NULL,		NULL,		NULL,		NULL,		NULL	)  
   Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------

   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_action Set 		[Action] = @Action,		[IsActive] = @IsActive,		[DisplayOrder] = @DisplayOrder,		[CreatedBy] = @CreatedBy,		[CreatedLocalDate] = @CreatedLocalDate,		[CreatedUtcDate] = @CreatedUtcDate,		[CreatedNepaliDate] = @CreatedNepaliDate,		[UpdatedBy] = @LoggedInUser,		[UpdatedLocalDate] = @UpdatedLocalDate,		[UpdatedUtcDate] = @UpdatedUtcDate,		[UpdatedNepaliDate] = @UpdatedNepaliDate	 Where [Id] = @Id		Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
