USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Currency_ById]    Script Date: 8/28/2023 11:52:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[usp_get_menu_ById]
@Id as int
AS
BEGIN
	SELECT [Id]
      ,[Title]
      ,[ParentId]
      ,[MenuUrl]
      ,[IsActive]
      ,[DisplayOrder]
      ,[ImagePath]
      ,[CreatedBy]
      ,[CreatedLocalDate]
      ,[CreatedUtcDate]
      ,[CreatedNepaliDate]
      ,[UpdatedBy]
      ,[UpdatedLocalDate]
      ,[UpdatedUtcDate]
      ,[UpdatedNepaliDate]
  FROM [dbo].[tbl_menu] with (Nolock) where Id=@Id 

END
