USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_fund_type]    Script Date: 8/15/2023 11:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal



ALTER Proc [dbo].[Usp_IUD_fund_type](	@Event char(2) = 'I', 	@Id Int = 0, 	@FundType varchar(150),	@FundTypeCode varchar(20),	@Remarks varchar(300),	@IsActive bit,		@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @FundType = TRIM(@FundType)
	SET @FundTypeCode = TRIM(@FundTypeCode)
	



If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@FundType, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Fund Type is required'
		RETURN
	END

		IF (ISNULL(@FundTypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Fund Type Code is required'
		RETURN
	END
    BEGIN TRY
	Insert Into dbo.tbl_fund_type(FundType,FundTypeCode,Remarks,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@FundType,		@FundTypeCode,		@Remarks,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@FundType, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Fund Type is required'
		RETURN
	END

		IF (ISNULL(@FundTypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Fund Type Code is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_fund_type Set 		[FundType] = @FundType,		[FundTypeCode] = @FundTypeCode,		[Remarks] = @Remarks,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	SET @StatusCode = 200
	SET @MsgType = 'Success'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	BEGIN TRY
	UPDATE  dbo.tbl_fund_type set 	IsDeleted=1,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 