USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_PaymentType]    Script Date: 8/17/2023 2:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_PaymentType]
 (
	 @PaymentTypeName nvarchar(20) = ''  
	,@PaymentTypeCode nvarchar(20)=''
	,@Status int=0
 )
AS
BEGIN
	SELECT [Id]
		  ,PaymentTypeName
		  ,PaymentTypeCode
		  ,[Description]
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_payment_type with (Nolock) where IsDeleted=0 and
	   ISNULL(PaymentTypeName,'') LIKE ISNULL(REPLACE(@PaymentTypeName,' ',''),'') + '%' 
		AND ISNULL(PaymentTypeCode,'') LIKE ISNULL(@PaymentTypeCode,'') + '%'  
		AND (
		CASE 
		WHEN @Status = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @Status = 1 AND IsActive =  1 THEN 1
		WHEN @Status = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1

END
