USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_role_by_id]    Script Date: 8/29/2023 3:47:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[usp_get_role_by_id]
(
	@RoleId INT
)
AS
BEGIN
	IF (ISNULL(@RoleId, 0) = 0)
	RETURN

	SELECT [Id]
		  ,[RoleName]
		  ,[Description]
		  ,[IsSystemRole]
		  ,[IsActive]
		  ,[IsDeleted]
		  ,[CreatedBy]
		  ,[CreatedLocalDate]
		  ,[CreatedUtcDate]
		  ,[CreatedNepaliDate]
		  ,[UpdatedBy]
		  ,[UpdatedLocalDate]
		  ,[UpdatedUtcDate]
		  ,[UpdatedNepaliDate]
	  FROM [dbo].[tbl_roles]
	  WHERE Id = @RoleId;
END
