USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_remit_partners_request]    Script Date: 8/18/2023 10:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Rohit poudel
--- Created Date	: Auto Generated By AutoGenerator 
--- Description		: Procedure For Auto Create Insert Proc 


ALTER Proc [dbo].[Usp_IUD_remit_partners_request](	@Event char(2) = 'I', 	@Id Int = 0, 	@PartnerCode varchar(20),	@FirstName nvarchar(100),	@SurName nvarchar(100),	@IsSurNamePresent bit,	@MobileNumber nvarchar(30),	@MobileConfirmed bit,	@Email nvarchar(200),	@EmailConfirmed bit,	@Post nvarchar(100),	@GenderId int,	@Address nvarchar(500),	@UserName nvarchar(100),	@PasswordHash nvarchar(512),	@PasswordSalt nvarchar(Max),	@AccessCodeHash nvarchar(512),	@AccessCodeSalt nvarchar(Max),	@MPINHash nvarchar(512),	@MPINSalt nvarchar(Max),	@ChargeCategoryId int,	@FundTypeId int,	@CreditUptoLimitPerc decimal(10,2),	@CreditSendTxnLimit decimal(18,2),	@CashPayoutSendTxnLimit decimal(18,2),	@WalletSendTxnLimit decimal(18,2),	@BankSendTxnLimit decimal(18,2),	@NotificationBalanceLimit decimal(18,2),	@TransactionApproval bit,	@OrganizationName nvarchar(256),	@OrgEmail nvarchar(150),	@OrgEmailConfirmed bit,	@CountryCode varchar(10),	@City nvarchar(150),	@FullAddress nvarchar(300),	@GMTTimeZone nvarchar(50),	@RegistrationNumber nvarchar(150),	@SourceCurrency nvarchar(3),	@Website nvarchar(200),	@IpAddress nvarchar(50),	@CompanyLogoImgPath nvarchar(512),	@DocumentTypeId int,	@DocumentNumber nvarchar(150),	@IdFrontImgPath nvarchar(512),	@IdBackImgPath nvarchar(512),	@ExpiryDate datetime2,	@AddressProofTypeId int,	@AddressProofImgPath nvarchar(512),	@LastIpAddress nvarchar(100),	@DeviceId nvarchar(Max),	@IsActive bit,	@IsDeleted bit,	@IsBlocked bit,	@FailedLoginAttempt int,	@TemporaryLockedTillUtcDate datetime2,	@LastLoginDateUtc datetime2,	@LastActivityDateUtc datetime2,	@KycStatusCode varchar(20),	@Is2FAAuthenticated bit,	@AccountSecretKey nvarchar(512),	@PartnerTimeZone nvarchar(150),	@Maker bit,	@Checker bit,	@CreatedById int,	@CreatedByName varchar(100),	@CreatedDate datetime2,	@UpdatedById int,	@UpdatedByName varchar(100),	@UpdatedDate datetime2,	@MsgText Varchar(max) output ,
	@IdentityVal int output,
	 @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT
	
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT


SET @StatusCode = 400
SET @MsgType = 'Error'
SET @MsgText = 'Bad Request'
SET @IdentityVal = 0


	SET @UserName=TRIM(@UserName)

 IF @Event='I'
 BEGIN
 declare @sRandom nvarchar(100);
	EXEC usp_generate_random_numeric_string 10, @sRandom output
	--select @sRandom
SET @PartnerCode=('REM'+(select @sRandom))
 END







If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@PartnerCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PartnerCode is required'
		RETURN
	END

	IF (ISNULL(@UserName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'UserName is required'
		RETURN
	END
	IF(EXISTS (Select Id from  tbl_remit_partners_request where UserName=@UserName ))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'UserName Already Exists'
		RETURN
	END
		IF(EXISTS (Select Id from  tbl_remit_partners_request where PartnerCode=@PartnerCode ))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PartnerCode Already Exists'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	Insert Into dbo.tbl_remit_partners_request Values 	(			@PartnerCode,		@FirstName,		@SurName,		@IsSurNamePresent,		@MobileNumber,		@MobileConfirmed,		@Email,		@EmailConfirmed,		@Post,		@GenderId,		@Address,		@UserName,		@PasswordHash,		@PasswordSalt,		@AccessCodeHash,		@AccessCodeSalt,		@MPINHash,		@MPINSalt,		@ChargeCategoryId,		@FundTypeId,		@CreditUptoLimitPerc,		@CreditSendTxnLimit,		@CashPayoutSendTxnLimit,		@WalletSendTxnLimit,		@BankSendTxnLimit,		@NotificationBalanceLimit,		@TransactionApproval,		@OrganizationName,		@OrgEmail,		@OrgEmailConfirmed,		@CountryCode,		@City,		@FullAddress,		@GMTTimeZone,		@RegistrationNumber,		@SourceCurrency,		@Website,		@IpAddress,		@CompanyLogoImgPath,		@DocumentTypeId,		@DocumentNumber,		@IdFrontImgPath,		@IdBackImgPath,		@ExpiryDate,		@AddressProofTypeId,		@AddressProofImgPath,		@LastIpAddress,		@DeviceId,		@IsActive,		@IsDeleted,		@IsBlocked,		@FailedLoginAttempt,		@TemporaryLockedTillUtcDate,		@LastLoginDateUtc,		@LastActivityDateUtc,		@KycStatusCode,		@Is2FAAuthenticated,		@AccountSecretKey,		@PartnerTimeZone,		@Maker,		@Checker,		@CreatedById,		@CreatedByName,		@CreatedDate,		@UpdatedById,		@UpdatedByName,		@UpdatedDate	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
		IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@PartnerCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PartnerCode is required'
		RETURN
	END

	IF (ISNULL(@UserName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'UserName is required'
		RETURN
	END

		IF EXISTS(SELECT top 1  Id FROM dbo.tbl_remit_partners WITH(NOLOCK) WHERE   Id<>@Id and IsDeleted=0 )
		BEGIN
			SET @MsgText = 'Record already exists'
			SET @StatusCode = 400			
			RETURN
		END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY

   if(EXISTS(Select * from dbo.tbl_remit_partners where PartnerCode=@PartnerCode))
   BEGIN
	Update dbo.tbl_remit_partners Set 		--[PartnerCode] = @PartnerCode,		[FirstName] = @FirstName,		[SurName] = @SurName,		[IsSurNamePresent] = @IsSurNamePresent,		[MobileNumber] = @MobileNumber,		[MobileConfirmed] = @MobileConfirmed,		[Email] = @Email,		[EmailConfirmed] = @EmailConfirmed,		[Post] = @Post,		[GenderId] = @GenderId,		[Address] = @Address,		[UserName] = @UserName,		[PasswordHash] = @PasswordHash,		[PasswordSalt] = @PasswordSalt,		[AccessCodeHash] = @AccessCodeHash,		[AccessCodeSalt] = @AccessCodeSalt,		[MPINHash] = @MPINHash,		[MPINSalt] = @MPINSalt,		[ChargeCategoryId] = @ChargeCategoryId,		[FundTypeId] = @FundTypeId,		[CreditUptoLimitPerc] = @CreditUptoLimitPerc,		[CreditSendTxnLimit] = @CreditSendTxnLimit,		[CashPayoutSendTxnLimit] = @CashPayoutSendTxnLimit,		[WalletSendTxnLimit] = @WalletSendTxnLimit,		[BankSendTxnLimit] = @BankSendTxnLimit,		[NotificationBalanceLimit] = @NotificationBalanceLimit,		[TransactionApproval] = @TransactionApproval,		[OrganizationName] = @OrganizationName,		[OrgEmail] = @OrgEmail,		[OrgEmailConfirmed] = @OrgEmailConfirmed,		[CountryCode] = @CountryCode,		[City] = @City,		[FullAddress] = @FullAddress,		[GMTTimeZone] = @GMTTimeZone,		[RegistrationNumber] = @RegistrationNumber,		[SourceCurrency] = @SourceCurrency,		[Website] = @Website,		[IpAddress] = @IpAddress,		[CompanyLogoImgPath] = @CompanyLogoImgPath,		[DocumentTypeId] = @DocumentTypeId,		[DocumentNumber] = @DocumentNumber,		[IdFrontImgPath] = @IdFrontImgPath,		[IdBackImgPath] = @IdBackImgPath,		[ExpiryDate] = @ExpiryDate,		[AddressProofTypeId] = @AddressProofTypeId,		[AddressProofImgPath] = @AddressProofImgPath,		[LastIpAddress] = @LastIpAddress,		[DeviceId] = @DeviceId,		[IsActive] = @IsActive,		[IsDeleted] = @IsDeleted,		[IsBlocked] = @IsBlocked,		[FailedLoginAttempt] = @FailedLoginAttempt,		[TemporaryLockedTillUtcDate] = @TemporaryLockedTillUtcDate,		[LastLoginDateUtc] = @LastLoginDateUtc,		[LastActivityDateUtc] = @LastActivityDateUtc,		[KycStatusCode] = @KycStatusCode,		[Is2FAAuthenticated] = @Is2FAAuthenticated,		[AccountSecretKey] = @AccountSecretKey,		[PartnerTimeZone] = @PartnerTimeZone,		--[Maker] = @Maker,		--[Checker] = @Checker,				[UpdatedById] = @UpdatedById,		[UpdatedByName] = @UpdatedByName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	END
	ELSE
	BEGIN
		Insert Into dbo.tbl_remit_partners Values 	(			@PartnerCode,		@FirstName,		@SurName,		@IsSurNamePresent,		@MobileNumber,		@MobileConfirmed,		@Email,		@EmailConfirmed,		@Post,		@GenderId,		@Address,		@UserName,		@PasswordHash,		@PasswordSalt,		@AccessCodeHash,		@AccessCodeSalt,		@MPINHash,		@MPINSalt,		@ChargeCategoryId,		@FundTypeId,		@CreditUptoLimitPerc,		@CreditSendTxnLimit,		@CashPayoutSendTxnLimit,		@WalletSendTxnLimit,		@BankSendTxnLimit,		@NotificationBalanceLimit,		@TransactionApproval,		@OrganizationName,		@OrgEmail,		@OrgEmailConfirmed,		@CountryCode,		@City,		@FullAddress,		@GMTTimeZone,		@RegistrationNumber,		@SourceCurrency,		@Website,		@IpAddress,		@CompanyLogoImgPath,		@DocumentTypeId,		@DocumentNumber,		@IdFrontImgPath,		@IdBackImgPath,		@ExpiryDate,		@AddressProofTypeId,		@AddressProofImgPath,		@LastIpAddress,		@DeviceId,		@IsActive,		@IsDeleted,		@IsBlocked,		@FailedLoginAttempt,		@TemporaryLockedTillUtcDate,		@LastLoginDateUtc,		@LastActivityDateUtc,		@KycStatusCode,		@Is2FAAuthenticated,		@AccountSecretKey,		@Maker,		@Checker,		@CreatedById,		@CreatedByName,		GETUTCDATE(),		NULL,		NULL,		NULL	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'

	END

	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------

--------------------------------------------- Validation End  -------------------------------------------------------
	BEGIN TRY
		Update dbo.tbl_remit_partners Set 		--[PartnerCode] = @PartnerCode,		[FirstName] = @FirstName,		[SurName] = @SurName,		[IsSurNamePresent] = @IsSurNamePresent,		[MobileNumber] = @MobileNumber,		[MobileConfirmed] = @MobileConfirmed,		[Email] = @Email,		[EmailConfirmed] = @EmailConfirmed,		[Post] = @Post,		[GenderId] = @GenderId,		[Address] = @Address,		[UserName] = @UserName,		[PasswordHash] = @PasswordHash,		[PasswordSalt] = @PasswordSalt,		[AccessCodeHash] = @AccessCodeHash,		[AccessCodeSalt] = @AccessCodeSalt,		[MPINHash] = @MPINHash,		[MPINSalt] = @MPINSalt,		[ChargeCategoryId] = @ChargeCategoryId,		[FundTypeId] = @FundTypeId,		[CreditUptoLimitPerc] = @CreditUptoLimitPerc,		[CreditSendTxnLimit] = @CreditSendTxnLimit,		[CashPayoutSendTxnLimit] = @CashPayoutSendTxnLimit,		[WalletSendTxnLimit] = @WalletSendTxnLimit,		[BankSendTxnLimit] = @BankSendTxnLimit,		[NotificationBalanceLimit] = @NotificationBalanceLimit,		[TransactionApproval] = @TransactionApproval,		[OrganizationName] = @OrganizationName,		[OrgEmail] = @OrgEmail,		[OrgEmailConfirmed] = @OrgEmailConfirmed,		[CountryCode] = @CountryCode,		[City] = @City,		[FullAddress] = @FullAddress,		[GMTTimeZone] = @GMTTimeZone,		[RegistrationNumber] = @RegistrationNumber,		[SourceCurrency] = @SourceCurrency,		[Website] = @Website,		[IpAddress] = @IpAddress,		[CompanyLogoImgPath] = @CompanyLogoImgPath,		[DocumentTypeId] = @DocumentTypeId,		[DocumentNumber] = @DocumentNumber,		[IdFrontImgPath] = @IdFrontImgPath,		[IdBackImgPath] = @IdBackImgPath,		[ExpiryDate] = @ExpiryDate,		[AddressProofTypeId] = @AddressProofTypeId,		[AddressProofImgPath] = @AddressProofImgPath,		[LastIpAddress] = @LastIpAddress,		[DeviceId] = @DeviceId,		[IsActive] = @IsActive,		--[IsDeleted] = @IsDeleted,		[IsBlocked] = @IsBlocked,		[FailedLoginAttempt] = @FailedLoginAttempt,		[TemporaryLockedTillUtcDate] = @TemporaryLockedTillUtcDate,		[LastLoginDateUtc] = @LastLoginDateUtc,		[LastActivityDateUtc] = @LastActivityDateUtc,		[KycStatusCode] = @KycStatusCode,		[Is2FAAuthenticated] = @Is2FAAuthenticated,		[AccountSecretKey] = @AccountSecretKey,		[PartnerTimeZone] = @PartnerTimeZone,		--[Maker] = @Maker,		--[Checker] = @Checker,				[UpdatedById] = @UpdatedById,		[UpdatedByName] = @UpdatedByName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 