USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ServiceChargeCatagory_ddl]    Script Date: 8/21/2023 10:35:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER  PROCEDURE [dbo].[usp_get_ServiceChargeCatagory_ddl]
AS
BEGIN
	select 
	CategoryName as [Text],
	Id as [Value]
	from tbl_service_charge_category with (Nolock) where IsActive=1 and IsDeleted=0
END
