
CREATE OR ALTER PROCEDURE [dbo].[usp_update_vendor_api_response_log3]
(
	@LogId NVARCHAR(100) = NULL,
	@VendorRequestInput3 NVARCHAR(MAX) = NULL,
	@VendorResponseOutput3 NVARCHAR(MAX) = NULL,
	@VendorRequestURL3 NVARCHAR(500) = NULL,
	@VendorRequestHeaders3 NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus3 INT = NULL,
	@VendorResponseStatus3 BIT = NULL,
	@VendorResponseState3 NVARCHAR(50) = NULL,
	@VendorResponseMessage3 NVARCHAR(500) = NULL,
	@VendorTransactionId3 NVARCHAR(50) = NULL,
	@VendorTrackerId3 NVARCHAR(50) = NULL,
	@VendorException3 nvarchar(500) = NULL,
	@VendorExceptionStackTrace3 nvarchar(max) = NULL,
	@VendorId3 NVARCHAR(50) = NULL,
	@VendorType3 NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[tbl_vendor_api_logs]
	SET
	VendorRequestInput3 = @VendorRequestInput3
	,VendorResponseOutput3 = @VendorResponseOutput3
	,VendorRequestURL3 = @VendorRequestURL3
	,VendorRequestHeaders3 = @VendorRequestHeaders3
	,VendorResponseHttpStatus3 = @VendorResponseHttpStatus3
	,VendorResponseStatus3 = @VendorResponseStatus3
	,VendorResponseState3 = @VendorResponseState3
	,VendorResponseMessage3 = @VendorResponseMessage3
	,VendorTransactionId3 = @VendorTransactionId3
	,VendorTrackerId3 = @VendorTrackerId3
	,VendorException3 = @VendorException3
	,VendorExceptionStackTrace3 = @VendorExceptionStackTrace3
	,VendorId3 = @VendorId3
	,VendorType3 = @VendorType3
	,UpdatedDate = GETDATE()
	WHERE LogId = @LogId;

	SET NOCOUNT OFF
END