USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_currency]    Script Date: 8/9/2023 3:17:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Created By		: Bibek Nepal

ALTER Proc [dbo].[Usp_IUD_currency](	@Event char(2) = 'I', 	@Id Int = 0, 	@CurrencyName varchar(100),	@ShortName varchar(100),	@Symbol varchar(500),	@CountryCode varchar(10),	@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100),	    @IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
	SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @CurrencyName = TRIM(@CurrencyName)
	SET @ShortName = TRIM(@ShortName)

If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@CurrencyName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'CurrencyName is required'
		RETURN
	END

		IF (ISNULL(@ShortName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'ShortName is required'
		RETURN
	END

	IF (ISNULL(@Symbol, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Symbol is required'
		RETURN
	END

	IF (ISNULL(@CountryCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Country Code is required'
		RETURN
	END

	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_country WITH(NOLOCK) WHERE UPPER(CountryCode) = UPPER(@CountryCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Country Code'
		RETURN
	END

   --------------------------------------------- Validation End  -------------------------------------------------------
   SET NOCOUNT ON;
	Insert Into dbo.tbl_currency (CurrencyName,ShortName,Symbol,CountryCode,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@CurrencyName,		@ShortName,		@Symbol,		@CountryCode,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,	    GETUTCDATE()			)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	SET NOCOUNT OFF;
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'id is required'
		RETURN
	END

	IF (ISNULL(@CurrencyName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'CurrencyName is required'
		RETURN
	END

		IF (ISNULL(@ShortName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'ShortName is required'
		RETURN
	END

		IF (ISNULL(@Symbol, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Symbol is required'
		RETURN
	END

	IF (ISNULL(@CountryCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Country Code is required'
		RETURN
	END

	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_country WITH(NOLOCK) WHERE UPPER(CountryCode) = UPPER(@CountryCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Country Code'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_currency  Set 		[CurrencyName] = @CurrencyName,		[ShortName] = @ShortName,		[Symbol] = @Symbol,		[CountryCode] = @CountryCode,		[IsActive] = @IsActive,			[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	
	Update  dbo.tbl_currency set	IsDeleted=1 ,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
End 