

Create PROCEDURE [dbo].[usp_get_user_activity_report] --2,'','','','2023-03-01','',1,20,'','','',0
(
@UserType int = 0	----0=>All, 1=>Customer, 2=>Admin
,@UserName nvarchar(100) = ''
,@Email nvarchar(100) = ''
,@UserAction nvarchar(200) = ''
,@FromDate date = null
,@ToDate date = null
,@PageNumber INT = 1
,@PageSize INT = 20
,@SortingCol AS VARCHAR(100) ='LogUtcDate'
,@SortType AS VARCHAR(100) = 'DESC'
,@SearchVal NVARCHAR(300) =''
,@Export INT = 0
)
AS
BEGIN

	DECLARE @FilteredCount INT, @TotalCount INT, @TotalPages INT, @PageIndex INT;

	IF(ISNULL(@FromDate,'') = '')
		SET @FromDate = CAST(GETDATE() AS DATE)
	IF(ISNULL(@ToDate,'') = '')
		SET @ToDate = CAST(GETDATE() AS DATE)

	SET @FromDate = CAST(@FromDate AS DATE);
	SET @ToDate = CAST(@ToDate AS DATE);

	IF(ISNULL(@Export,0) = 1)
		SET @Export = 1;
	ELSE
		SET @Export = 0;

	IF(ISNULL(@PageSize, 0) <= 0)
		SET @PageSize=20;

	IF(ISNULL(@PageSize, 0) > 100)
		SET @PageSize=100;
	
	IF(ISNULL(@PageNumber, 0) <= 0)
		SET @PageNumber = 1;

	IF(ISNULL(@SortingCol,'') = '')
	BEGIN
		SET @SortingCol = 'LogUtcDate'
	END
	IF(ISNULL(@SortType,'') = '')
	BEGIN
		SET @SortType = 'DESC'
	END

IF(@Export = 0)  ------DO PAGINATION
BEGIN
----===================TOTAL COUNT =========================
	SELECT @TotalCount = COUNT(1) FROM [dbo].[tbl_user_activity_logs] WITH(NOLOCK)
	WHERE CAST(LogLocalDate AS DATE) BETWEEN @FromDate AND @ToDate 
		AND ISNULL(UserName,'') LIKE ISNULL(@UserName,'') + '%'
		AND ISNULL(Email,'') LIKE ISNULL(@Email,'') + '%'
		AND ISNULL(IsCustomer,0) = CASE WHEN ISNULL(@UserType,0) = 1 THEN 1
										WHEN ISNULL(@UserType,0) = 2 THEN 0
										ELSE ISNULL(IsCustomer,0) END						
		

	----===================FILTERED COUNT =========================
	SELECT @FilteredCount = COUNT(1) FROM [dbo].[tbl_user_activity_logs] WITH(NOLOCK)
	WHERE CAST(LogLocalDate AS DATE) BETWEEN @FromDate AND @ToDate 
		AND ISNULL(UserName,'') LIKE ISNULL(@UserName,'') + '%'
		AND ISNULL(Email,'') LIKE ISNULL(@Email,'') + '%'
		AND ISNULL(IsCustomer,0) = CASE WHEN ISNULL(@UserType,0) = 1 THEN 1
										WHEN ISNULL(@UserType,0) = 2 THEN 0
										ELSE ISNULL(IsCustomer,0) END	
		AND (ISNULL(UserName,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' OR ISNULL(Email,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' )

----=========== GET FILTERED RESULT SET WITH PAGINATION ===========	  
	SELECT	
	FORMAT(LogLocalDate,'yyyy-MM-dd hh:mm:ss ttt') AS ActivityDate
	,CASE WHEN ISNULL(IsCustomer,0) = 1 THEN 'Customer' ELSE 'Admin' END AS UserType
	,UserName
	,Email
	,RemoteIpAddress AS IPAddress
	,ControllerName+'/'+ActionName AS Path
	,ISNULL(UserAgent,'-') AS UserAgent
	,UserAction AS ActionPerformed	
	FROM [dbo].[tbl_user_activity_logs] WITH(NOLOCK)
	WHERE CAST(LogLocalDate AS DATE) BETWEEN @FromDate AND @ToDate 
		AND ISNULL(UserName,'') LIKE ISNULL(@UserName,'') + '%'
		AND ISNULL(Email,'') LIKE ISNULL(@Email,'') + '%'
		AND ISNULL(IsCustomer,0) = CASE WHEN ISNULL(@UserType,0) = 1 THEN 1
										WHEN ISNULL(@UserType,0) = 2 THEN 0
										ELSE ISNULL(IsCustomer,0) END	
		AND (ISNULL(UserName,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' OR ISNULL(Email,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' )
	ORDER BY 
	CASE WHEN @SortingCol = 'LogUtcDate' AND @SortType ='ASC' THEN LogUtcDate END ,
	CASE WHEN @SortingCol = 'LogUtcDate' AND @SortType ='DESC' THEN LogUtcDate END DESC	
	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;
END
ELSE
BEGIN
----=========== GET ALL FILTERED RESULT ===========	
	SELECT	
	FORMAT(LogLocalDate,'yyyy-MM-dd hh:mm:ss ttt') AS ActivityDate
	,CASE WHEN ISNULL(IsCustomer,0) = 1 THEN 'Customer' ELSE 'Admin' END AS UserType
	,UserName
	,Email
	,RemoteIpAddress AS IPAddress
	,ControllerName+'/'+ActionName AS Path
	,ISNULL(UserAgent,'-') AS UserAgent
	,UserAction AS ActionPerformed	
	FROM [dbo].[tbl_user_activity_logs] WITH(NOLOCK)
	WHERE CAST(LogLocalDate AS DATE) BETWEEN @FromDate AND @ToDate 
		AND ISNULL(UserName,'') LIKE ISNULL(@UserName,'') + '%'
		AND ISNULL(Email,'') LIKE ISNULL(@Email,'') + '%'
		AND ISNULL(IsCustomer,0) = CASE WHEN ISNULL(@UserType,0) = 1 THEN 1
										WHEN ISNULL(@UserType,0) = 2 THEN 0
										ELSE ISNULL(IsCustomer,0) END	
		AND (ISNULL(UserName,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' OR ISNULL(Email,'') LIKE '%'+ISNULL(@SearchVal,'')+'%' )
	ORDER BY 
	CASE WHEN @SortingCol = 'LogUtcDate' AND @SortType ='ASC' THEN LogUtcDate END ,
	CASE WHEN @SortingCol = 'LogUtcDate' AND @SortType ='DESC' THEN LogUtcDate END DESC
END


---------=================== GET PAGINATION DATA ===========================
	IF(@FilteredCount = 0)
	BEGIN
		SET @TotalPages = 1;
	END
	ELSE IF((@FilteredCount % @PageSize) = 0)
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize);
	END
	ELSE
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize) + 1;
	END

	IF(@PageNumber > @TotalPages)
		SET @PageNumber = 1;

	SELECT @PageNumber AS PageNumber, @PageSize AS PageSize, @TotalCount AS TotalCount, @FilteredCount AS FilteredCount, @TotalPages AS TotalPages;

	
END
