USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_occupation]    Script Date: 8/10/2023 10:41:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal


ALTER Proc [dbo].[Usp_IUD_occupation](	@Event char(2) = 'I', 	@Id Int = 0, 	@OccupationName varchar(200),	@Description varchar(300),	@IsActive bit,		@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @OccupationName = TRIM(@OccupationName)
	SET @Description = TRIM(@Description)
If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@OccupationName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'OccupationName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Insert Into dbo.tbl_occupation(OccupationName,Description,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@OccupationName,		@Description,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()			)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@OccupationName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'OccupationName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_occupation Set 		[OccupationName] = @OccupationName,		[Description] = @Description,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	SET @StatusCode = 200
	SET @MsgType = 'Success'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	
	UPDATE  dbo.tbl_occupation set 	IsDeleted=1,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
End 