USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_users]    Script Date: 8/27/2023 4:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_get_users] 
 @PageNumber INT = 1
,@PageSize INT = 20
,@SortingCol AS VARCHAR(100) ='UserName'
,@SortType AS VARCHAR(100) = 'ASC'
,@SearchVal NVARCHAR(300) =''
AS
BEGIN
DECLARE @FilteredCount INT, @TotalCount INT, @TotalPages INT, @PageIndex INT;
DECLARE @tmpTbl AS TABLE(Id INT,FullName nvarchar(200), Username nvarchar(200),Email NVARCHAR(200),Department NVARCHAR(200), RoleId INT,Status Bit);
DECLARE @tmpTblFiltered AS TABLE(Id INT,FullName nvarchar(200), Username nvarchar(200),Email NVARCHAR(200),Department NVARCHAR(200), RoleId INT,Status Bit);
	SET NOCOUNT ON;
	IF(ISNULL(@PageSize, 0) <= 0)
		SET @PageSize=20;

	IF(ISNULL(@PageSize, 0) > 100)
		SET @PageSize=100;
	
	IF(ISNULL(@PageNumber, 0) <= 0)
		SET @PageNumber = 1;

	IF(ISNULL(@SortingCol,'') = '')
	BEGIN
		SET @SortingCol = 'UserName'
	END
	IF(ISNULL(@SortType,'') = '')
	BEGIN
		SET @SortType = 'ASC'
	END

	----===============INSERT FILTERED DATA INTO TEMPORARY TEBLE=============
	INSERT INTO @tmpTbl
SELECT U.[Id]
      ,U.[FullName]
      ,U.[UserName]     
      ,U.[Email]   
      ,U.[Department] 
	  ,ur.RoleId
      ,U.[IsActive]  
  FROM [dbo].[tbl_users] U 
  LEFT JOIN tbl_user_roles ur on u.Id=ur.UserId
  where (U.FullName like '%'+@SearchVal+'%'
	OR  U.UserName	like '%'+@SearchVal+'%'
	OR U.Department like '%'+@SearchVal+'%')
	and ISNULL(U.IsDeleted,0)=0

	--ORDER BY ServiceType DESC	

----============GET TOTAL COUNTS ===============	
	SELECT @TotalCount = COUNT(Id) FROM @tmpTbl;

	----============GET FILTERED COUNTS ===============	
	INSERT INTO @tmpTblFiltered
	SELECT *
	FROM @tmpTbl
	

	SELECT  @FilteredCount = COUNT(Id) FROM @tmpTblFiltered;

	----=========== GET FILTERED RESULT SET WITH PAGINATION ===========	







	SELECT * FROM @tmpTblFiltered t
	ORDER BY 
	CASE WHEN @SortingCol = 'UserName' AND @SortType ='ASC' THEN t.UserName END ,
	CASE WHEN @SortingCol = 'UserName' AND @SortType ='DESC' THEN t.UserName END DESC

	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

		IF(@FilteredCount = 0)
	BEGIN
		SET @TotalPages = 1;
	END
	ELSE IF((@FilteredCount % @PageSize) = 0)
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize);
	END
	ELSE
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize) + 1;
	END


	SELECT @PageNumber AS PageNumber, @PageSize AS PageSize, @TotalCount AS TotalCount, @FilteredCount AS FilteredCount, @TotalPages AS TotalPages;
	

  --SET NOCOUNT OFF;
END
