USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_menu]    Script Date: 8/28/2023 11:39:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Rohit poudel
--- Created Date	: Auto Generated By AutoGenerator 
--- Description		: Procedure For Auto Create Insert Proc 


ALTER Proc [dbo].[Usp_IUD_menu](	@Event char(2) = 'I', 	@Id Int = 0, 	@Title nvarchar(450),	@ParentId int,	@MenuUrl nvarchar(2083),	@IsActive bit,	@DisplayOrder int,	@ImagePath nvarchar(Max),	@LoggedInUser varchar(100)=NULL,	--@CreatedLocalDate datetime2,	--@CreatedUtcDate datetime2,	--@CreatedNepaliDate varchar(20),		--@UpdatedLocalDate datetime2,	--@UpdatedUtcDate datetime2,	--@UpdatedNepaliDate varchar(20),     @IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT



SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0
If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------

   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	
INSERT INTO [dbo].[tbl_menu]
           ([Title]
           ,[ParentId]
           ,[MenuUrl]
           ,[IsActive]
           ,[DisplayOrder]
           ,[ImagePath]
           ,[CreatedBy]
           ,[CreatedLocalDate]
           ,[CreatedUtcDate]
           ,[CreatedNepaliDate]
           ,[UpdatedBy]
           ,[UpdatedLocalDate]
           ,[UpdatedUtcDate]
           ,[UpdatedNepaliDate])
     VALUES	(			@Title,		@ParentId,		@MenuUrl,		@IsActive,		@DisplayOrder,		@ImagePath,		@LoggedInUser,		GETDATE(),		GETUTCDATE(),		NULL,		NULL,		NULL,		NULL,		NULL	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------

   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_menu Set 		[Title] = @Title,		[ParentId] = @ParentId,		[MenuUrl] = @MenuUrl,		[IsActive] = @IsActive,		[DisplayOrder] = @DisplayOrder,		[ImagePath] = @ImagePath,			[UpdatedBy] = @LoggedInUser,		[UpdatedLocalDate] = GETDATE(),		[UpdatedUtcDate] = GETUTCDATE(),		[UpdatedNepaliDate] = NULL	 Where [Id] = @Id   Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
