
CREATE OR ALTER PROCEDURE [dbo].[usp_iud_partner_credentials]
(
	@OperationMode char(2) = 'I',	 
	@CredentialId varchar(50),
	@PartnerCode varchar(20),
	@ApiUserName nvarchar(100) = NULL,
	@ApiPassword nvarchar(100) = NULL,
	@ApiKey nvarchar(Max) = NULL,
	@SystemPrivateKey nvarchar(Max) = NULL,
	@SystemPublicKey nvarchar(Max) = NULL,
	@UserPrivateKey nvarchar(Max) = NULL,
	@UserPublicKey nvarchar(Max) = NULL,
	@IPAddress nvarchar(100) = NULL,
	@IsActive bit = 1,
	@LoggedInUserId int = NULL,
	@LoggedInUserName varchar(100) NULL,
	@IdentityVal varchar(50) = NULL output,
	@StatusCode int = NULL output,
	@MsgType varchar(10) = NULL output,
	@MsgText varchar(max) = NULL output
)
AS
	SET @StatusCode = 400;
	SET @MsgType = 'Error'  
	SET @MsgText = 'Bad Request'  

	DECLARE @ErrorNumber INT 
	DECLARE @ErrorMessage NVARCHAR(4000)
	DECLARE @ErrorSeverity INT
	DECLARE @ErrorState INT
	DECLARE @ErrorProcedure NVARCHAR(256)
	DECLARE @ErrorLine INT

	IF (ISNULL(@OperationMode, '') NOT IN ('I', 'U', 'USRKP', 'UURKP', 'UAK', 'UAP'))
	BEGIN
		SET @MsgText = 'Invalid Event'
		RETURN;
	END

	IF (ISNULL(@CredentialId, '') = '')
	BEGIN
		SET @MsgText = 'Please provide CredentialId'
		RETURN;
	END

	SET NOCOUNT ON;
	
	SET @PartnerCode=TRIM(@PartnerCode)

	IF @OperationMode = 'I'  --for Insert
	BEGIN 

		IF (ISNULL(@PartnerCode, '') = '')
		BEGIN
			SET @MsgText = 'Please provide PartnerCode'
			RETURN;
		END

		IF (ISNULL(@ApiUserName, '') = '')
		BEGIN
			SET @MsgText = 'Please provide ApiUsername'
			RETURN;
		END

		IF (ISNULL(@ApiPassword, '') = '')
		BEGIN
			SET @MsgText = 'Please provide ApiPassword'
			RETURN;
		END

		BEGIN TRY
		INSERT INTO [dbo].[tbl_partner_credentials]
			   ([CredentialId]
			   ,[PartnerCode]
			   ,[ApiUserName]
			   ,[ApiPassword]
			   ,[ApiKey]
			   ,[SystemPrivateKey]
			   ,[SystemPublicKey]
			   ,[UserPrivateKey]
			   ,[UserPublicKey]
			   ,[IPAddress]
			   ,[IsActive]
			   ,[CreatedById]
			   ,[CreatedByName]
			   ,[CreatedDate])
			   VALUES 
				(	
				@CredentialId,
				@PartnerCode,
				@ApiUserName,
				@ApiPassword,
				@ApiKey,
				@SystemPrivateKey,
				@SystemPublicKey,
				@UserPrivateKey,
				@UserPublicKey,
				@IPAddress,
				@IsActive,
				@LoggedInUserId,
				@LoggedInUserName,
				GETUTCDATE()
			)  

		SET @IdentityVal = @CredentialId
		SET @MsgType = 'Success' 
		SET @MsgText = 'Credential created Successfully !'
		SET @StatusCode = 200;

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END 
	ELSE
		IF @OperationMode = 'U'    --- Update
	BEGIN
		SET @StatusCode = 400;
		SET @MsgType = 'Error';

	   BEGIN TRY
		UPDATE dbo.tbl_partner_credentials
		SET 		
			--[PartnerCode] = @PartnerCode,
			--[ApiUserName] = @ApiUserName,
			--[ApiPassword] = @ApiPassword,
			--[ApiKey] = @ApiKey,
			--[SystemPrivateKey] = @SystemPrivateKey,
			--[SystemPublicKey] = @SystemPublicKey,
			--[UserPrivateKey] = @UserPrivateKey,
			--[UserPublicKey] = @UserPublicKey,
			[IPAddress] = @IPAddress,
			[IsActive] = @IsActive,		
			[UpdatedById] = @LoggedInUserId,
			[UpdatedByName] = @LoggedInUserName,
			[UpdatedDate] = GETUTCDATE()
		 WHERE [CredentialId] = @CredentialId
	
		Set @IdentityVal = @CredentialId 
		SET @StatusCode = 200;
		SET @MsgType = 'Success'
		SET @MsgText = 'Updated successful!'

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END
	IF @OperationMode = 'USRKP'    --- Update System RSA Key Pair
	BEGIN
		SET @StatusCode = 400;
		SET @MsgType = 'Error';

		IF (ISNULL(@SystemPrivateKey, '') = '')
		BEGIN
			SET @MsgText = 'Please provide System PrivateKey'
			RETURN;
		END

		IF (ISNULL(@SystemPublicKey, '') = '')
		BEGIN
			SET @MsgText = 'Please provide System PublicKey'
			RETURN;
		END

	   BEGIN TRY
		UPDATE dbo.tbl_partner_credentials
		SET
			[SystemPrivateKey] = @SystemPrivateKey,
			[SystemPublicKey] = @SystemPublicKey,
			[UpdatedById] = @LoggedInUserId,
			[UpdatedByName] = @LoggedInUserName,
			[UpdatedDate] = GETUTCDATE()
		 WHERE [CredentialId] = @CredentialId
	
		Set @IdentityVal = @CredentialId 
		SET @StatusCode = 200;
		SET @MsgType = 'Success'
		SET @MsgText = 'System RSA keypair updated successfully !'

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END 
	IF @OperationMode = 'UURKP'    --- Update User RSA Key Pair
	BEGIN
		SET @StatusCode = 400;
		SET @MsgType = 'Error';

		IF (ISNULL(@UserPrivateKey, '') = '')
		BEGIN
			SET @MsgText = 'Please provide user PrivateKey'
			RETURN;
		END

		IF (ISNULL(@UserPrivateKey, '') = '')
		BEGIN
			SET @MsgText = 'Please provide user PublicKey'
			RETURN;
		END

	   BEGIN TRY
		UPDATE dbo.tbl_partner_credentials
		SET
			[UserPrivateKey] = @UserPrivateKey,
			[UserPublicKey] = @UserPublicKey,
			[UpdatedById] = @LoggedInUserId,
			[UpdatedByName] = @LoggedInUserName,
			[UpdatedDate] = GETUTCDATE()
		 WHERE [CredentialId] = @CredentialId
	
		Set @IdentityVal = @CredentialId 
		SET @StatusCode = 200;
		SET @MsgType = 'Success'
		SET @MsgText = 'User RSA keypair updated successfully !'

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END
	IF @OperationMode = 'UAK'    --- Update API key
	BEGIN
		SET @StatusCode = 400;
		SET @MsgType = 'Error';

		IF (ISNULL(@ApiKey, '') = '')
		BEGIN
			SET @MsgText = 'Please provide ApiKey'
			RETURN;
		END

	   BEGIN TRY
		UPDATE dbo.tbl_partner_credentials
		SET
			[ApiKey] = @ApiKey,
			[UpdatedById] = @LoggedInUserId,
			[UpdatedByName] = @LoggedInUserName,
			[UpdatedDate] = GETUTCDATE()
		 WHERE [CredentialId] = @CredentialId
	
		Set @IdentityVal = @CredentialId 
		SET @StatusCode = 200;
		SET @MsgType = 'Success'
		SET @MsgText = 'API key updated successfully !'

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END
	IF @OperationMode = 'UAP'    --- Update API password
	BEGIN
		SET @StatusCode = 400;
		SET @MsgType = 'Error';

		IF (ISNULL(@ApiPassword, '') = '')
		BEGIN
			SET @MsgText = 'Please provide ApiPassword'
			RETURN;
		END

	   BEGIN TRY
		UPDATE dbo.tbl_partner_credentials
		SET 		
			[ApiPassword] = @ApiPassword,	
			[UpdatedById] = @LoggedInUserId,
			[UpdatedByName] = @LoggedInUserName,
			[UpdatedDate] = GETUTCDATE()
		 WHERE [CredentialId] = @CredentialId
	
		Set @IdentityVal = @CredentialId 
		SET @StatusCode = 200;
		SET @MsgType = 'Success'
		SET @MsgText = 'API password updated successfully !'

		END TRY
		BEGIN CATCH
			SET @ErrorNumber  = ERROR_NUMBER();
			SET @ErrorMessage  = ERROR_MESSAGE();
			SET @ErrorSeverity  = ERROR_SEVERITY();
			SET @ErrorState  = ERROR_STATE();
			SET @ErrorProcedure  = ERROR_PROCEDURE();
			SET @ErrorLine  = ERROR_LINE();

			EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
			-- Re-throw the error to the calling application
			THROW;
		END CATCH
	END
	SET NOCOUNT OFF;