USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_roles]    Script Date: 8/9/2023 10:30:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER     PROCEDURE [dbo].[usp_get_roles]

AS
BEGIN
	SELECT [Id]
		  ,[RoleName]
		  ,[Description]
		  ,[IsSystemRole]
		  ,[IsActive]
		  ,[IsDeleted]
		  ,[CreatedBy]		
		  ,[UpdatedBy]		 
	  FROM [dbo].[tbl_roles] with (Nolock) where IsDeleted=0

END
