USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_KycRemarks_ById]    Script Date: 8/9/2023 10:09:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_KycRemarks_ById]
 @Id as int
AS
BEGIN
	SELECT [Id]
		  ,RemarksName
		  ,[Description]
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_kyc_remarks with (Nolock) where Id=@Id and IsDeleted=0 

END
