USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Currency_ById]    Script Date: 8/9/2023 10:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[usp_get_Currency_ById]
@Id as int
AS
BEGIN
	SELECT [Id]
		  ,CurrencyName
		  ,ShortName
		  ,Symbol
		  ,CountryCode
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_currency with (Nolock) where Id=@Id and IsDeleted=0

END
