USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_banks_byid]    Script Date: 8/29/2023 4:12:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 Create   PROCEDURE [dbo].[usp_get_module_byid]
 @Id as Int
AS
BEGIN
	SELECT [Id]
      ,[Module]
      ,[ParentId]
      ,[IsActive]
      ,[DisplayerOrder]
      ,[CreatedBy]
      ,[CreatedLocalDate]
      ,[CreatedUtcDate]
      ,[CreatedNepaliDate]
      ,[UpdatedBy]
      ,[UpdatedLocalDate]
      ,[UpdatedUtcDate]
      ,[UpdatedNepaliDate]
  FROM [dbo].[tbl_Module] with (Nolock) where Id=@Id 
END
