USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_role_deleteby_id]    Script Date: 8/9/2023 10:15:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_role_deleteby_id]
(
	@Id INT,
	@UpdatedById int,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
AS
BEGIN
	SET @IdentityVal=0;
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @StatusCode = 400;

	IF (@Id < 1)
	BEGIN
		SET @MsgText = 'Invalid role id!'
		SET @StatusCode = 400;
		RETURN
	END

	IF NOT EXISTS (SELECT 1 FROM [dbo].[tbl_roles] WHERE Id = @Id)
	BEGIN
		SET @MsgText = 'Role does not exists!'
		SET @StatusCode = 404;
		RETURN;
	END

	IF EXISTS (SELECT 1 FROM [dbo].tbl_user_roles WHERE RoleId = @Id)
	BEGIN
		SET @MsgText = 'Role is being assigned to one or more users!'
		SET @StatusCode = 403;
		RETURN;
	END

	SET NOCOUNT ON
	Update [dbo].[tbl_roles] Set IsDeleted=1,
	UpdatedLocalDate = GetDate(),	UpdatedBy=@UpdatedById,	UpdatedUtcDate = GETUTCDATE()
	WHERE [Id] = @Id
	SET NOCOUNT OFF
	
	SET @MsgType = 'Success'
	SET @MsgText = 'Role deleted successfully!'
	SET @StatusCode = 200;
	SET @IdentityVal=1;
	RETURN

END
