USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_ChargeType]    Script Date: 8/14/2023 2:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Created By		: Bibek Nepal


ALTER Proc [dbo].[Usp_IUD_ChargeType] (	@Event char(2) = 'I', 	@Id Int = 0, 	@TypeCode varchar(20),	@ChargeType varchar(200),		@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @TypeCode = TRIM(@TypeCode)
	SET @ChargeType = TRIM(@ChargeType)



If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@TypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Type Code is required'
		RETURN
	END

		IF (ISNULL(@ChargeType, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Charge Type is required'
		RETURN
	END
	
	
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Insert Into tbl_charge_type(TypeCode,ChargeType,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@TypeCode,		@ChargeType,				@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
		Set @IdentityVal = @@IDENTITY
		Set @MsgText = 'Record Inserted Successfully !'	
		Set @StatusCode = 200
		SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorProcedure NVARCHAR(256) = ERROR_PROCEDURE();
        DECLARE @ErrorLine INT = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH

End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@TypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Type Code is required'
		RETURN
	END

		IF (ISNULL(@ChargeType, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Charge Type is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_charge_type Set 		TypeCode = @TypeCode,		ChargeType = @ChargeType,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = 	GETUTCDATE()	 Where Id = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	
	Update tbl_charge_type Set 	IsDeleted=0,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = 	GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
End 