USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_patnerbank]    Script Date: 8/15/2023 11:56:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER PROCEDURE [dbo].[usp_get_patnerbank]
 (
	 @PartnerCode nvarchar(20) = ''  	
	,@BankCode nvarchar(20) = '' 
	,@AccountNumber nvarchar(20) = ''
	,@AccountName nvarchar(20) = ''
	,@Status int=0
 )
AS
BEGIN
	SELECT [Id]
		  ,[PartnerCode]
		  ,[BankCode]
		  ,[AccountNumber]
		  ,[AccountName]
		  ,[CreatedByName]
		  ,[UpdatedByName]
	  FROM [dbo].tbl_partner_banks with (Nolock) where IsDeleted=0 and
	   ISNULL(PartnerCode,'') LIKE ISNULL(REPLACE(@PartnerCode,' ',''),'') + '%'  
	   AND ISNULL(BankCode,'') LIKE ISNULL(REPLACE(@BankCode,' ',''),'') + '%' 
	   AND ISNULL(AccountNumber,'') LIKE ISNULL(REPLACE(@AccountNumber,' ',''),'') + '%' 
	   AND ISNULL(AccountName,'') LIKE ISNULL(REPLACE(@AccountName,' ',''),'') + '%' 
		AND (
		CASE 
		WHEN @Status = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @Status = 1 AND IsActive =  1 THEN 1
		WHEN @Status = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1
END
