USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_users]    Script Date: 8/29/2023 4:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[usp_get_module] 
 @PageNumber INT = 1
,@PageSize INT = 20
,@SortingCol AS VARCHAR(100) ='Module'
,@SortType AS VARCHAR(100) = 'ASC'
,@SearchVal NVARCHAR(300) =''
AS
BEGIN
DECLARE @FilteredCount INT, @TotalCount INT, @TotalPages INT, @PageIndex INT;
DECLARE @tmpTbl AS TABLE(Id INT,Module nvarchar(200), ParentId int,DisplayerOrder int,IsActive  Bit);
DECLARE @tmpTblFiltered AS TABLE(Id INT,Module nvarchar(200), ParentId int,DisplayerOrder int,IsActive  Bit);
	SET NOCOUNT ON;
	IF(ISNULL(@PageSize, 0) <= 0)
		SET @PageSize=20;

	IF(ISNULL(@PageSize, 0) > 100)
		SET @PageSize=100;
	
	IF(ISNULL(@PageNumber, 0) <= 0)
		SET @PageNumber = 1;

	IF(ISNULL(@SortingCol,'') = '')
	BEGIN
		SET @SortingCol = 'Module'
	END
	IF(ISNULL(@SortType,'') = '')
	BEGIN
		SET @SortType = 'ASC'
	END

	----===============INSERT FILTERED DATA INTO TEMPORARY TEBLE=============
	INSERT INTO @tmpTbl
SELECT	 [Id]
      ,[Module]
      ,[ParentId]      
      ,[DisplayerOrder]
      ,[IsActive]
  FROM [dbo].[tbl_Module] M
  
  where (M.Module like '%'+@SearchVal+'%')
	

	--ORDER BY ServiceType DESC	

----============GET TOTAL COUNTS ===============	
	SELECT @TotalCount = COUNT(Id) FROM @tmpTbl;

	----============GET FILTERED COUNTS ===============	
	INSERT INTO @tmpTblFiltered
	SELECT *
	FROM @tmpTbl
	

	SELECT  @FilteredCount = COUNT(Id) FROM @tmpTblFiltered;

	----=========== GET FILTERED RESULT SET WITH PAGINATION ===========	







	SELECT * FROM @tmpTblFiltered t
	ORDER BY 
	CASE WHEN @SortingCol = 'Module' AND @SortType ='ASC' THEN t.Module END ,
	CASE WHEN @SortingCol = 'Module' AND @SortType ='DESC' THEN t.Module END DESC

	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

		IF(@FilteredCount = 0)
	BEGIN
		SET @TotalPages = 1;
	END
	ELSE IF((@FilteredCount % @PageSize) = 0)
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize);
	END
	ELSE
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize) + 1;
	END


	SELECT @PageNumber AS PageNumber, @PageSize AS PageSize, @TotalCount AS TotalCount, @FilteredCount AS FilteredCount, @TotalPages AS TotalPages;
	

  --SET NOCOUNT OFF;
END
