USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_role_by_id]    Script Date: 8/10/2023 11:16:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create   PROCEDURE [dbo].[usp_get_kycstatus_ddl]
AS
BEGIN
	select 
	StatusName as [Text],
	StatusCode as [Value]
	from tbl_kyc_status with (Nolock) where IsActive=1
END
