
CREATE OR ALTER PROCEDURE [dbo].[usp_update_vendor_api_exception_log2]
(
	@LogId NVARCHAR(100) = NULL,
	@VendorException2 nvarchar(500) = NULL,
	@VendorExceptionStackTrace2 nvarchar(max) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[tbl_vendor_api_logs]
	SET
	VendorException2 = @VendorException2
	,VendorExceptionStackTrace2 = @VendorExceptionStackTrace2
	,UpdatedDate = GETDATE()
	WHERE LogId = @LogId;

	SET NOCOUNT OFF
END