USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Country_ddl]    Script Date: 8/10/2023 11:26:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[usp_get_Country_ddl]
AS
BEGIN
	select 
	CountryName as [Text],
	CountryCode as [Value]
	from tbl_country with (Nolock) where IsActive=1
END
