USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_banks]    Script Date: 8/15/2023 10:07:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_banks]
 (
	 @BankName nvarchar(20) = ''  
	,@countryCode nvarchar(20)=''
	,@UserStatus int=0
 )
AS
BEGIN
	SELECT [Id]
		  ,BankName
		  ,BankCode
		  ,BranchCode
		  ,CountryCode
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_banks with (Nolock) where IsDeleted=0 and

	  ISNULL(BankName,'') LIKE ISNULL(REPLACE(@BankName,' ',''),'') + '%' 
		AND ISNULL(CountryCode,'') LIKE ISNULL(@countryCode,'') + '%'  
		AND (
		CASE 
		WHEN @UserStatus = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @UserStatus = 1 AND IsActive =  1 THEN 1
		WHEN @UserStatus = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1
END
