USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_payment_type]    Script Date: 8/17/2023 2:24:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal



ALTER Proc [dbo].[Usp_IUD_payment_type](	@Event char(2) = 'I', 	@Id Int = 0, 	@PaymentTypeName varchar(100),	@PaymentTypeCode varchar(20),	@Description varchar(300),	@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @PaymentTypeName = TRIM(@PaymentTypeName)
	SET @PaymentTypeCode = TRIM(@PaymentTypeCode)
	SET @Description = TRIM(@Description)


DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT
If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@PaymentTypeName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PaymentType Name is required'
		RETURN
	END
	IF (ISNULL(@PaymentTypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PaymentType Code is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	Insert Into dbo.tbl_payment_type(PaymentTypeName,PaymentTypeCode,Description,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@PaymentTypeName,		@PaymentTypeCode,		@Description,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
		Set @IdentityVal = @@IDENTITY
		Set @MsgText = 'Record Inserted Successfully !'	
		Set @StatusCode = 200
		SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
		IF (ISNULL(@PaymentTypeName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PaymentType Name is required'
		RETURN
	END
	IF (ISNULL(@PaymentTypeCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PaymentType Code is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_payment_type Set 		[PaymentTypeName] = @PaymentTypeName,		[PaymentTypeCode] = @PaymentTypeCode,		[Description] = @Description,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = 	GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	BEGIN TRY
Update dbo.tbl_payment_type Set 	IsDeleted=1,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = 	GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 