USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_users_by_id]    Script Date: 8/28/2023 11:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_users_by_id]
 @Id as Int
AS
BEGIN
	SELECT [Id]
      ,[UserName]
      ,[FullName]
      ,[Email]
      ,[EmailConfirmed]
      ,[MobileNumber]
      ,[MobileConfirmed]
      ,[Gender]
      ,[Address]
      ,[Department]
      ,[DateOfBirth]
      ,[DateOfJoining]
      ,[PasswordHash]
      ,[PasswordSalt]
      ,[AccessCodeHash]
      ,[AccessCodeSalt]
      ,[FailedLoginAttempt]
      ,[TemporaryLockedTillUtcDate]
      ,[ProfileImageUrlPath]
      ,[LastIpAddress]
      ,[DeviceId]
      ,[IsActive]
      ,[IsDeleted]
      ,[IsBlocked]
      ,[Is2FAAuthenticated]
      ,[AccountSecretKey]
      ,[LastLoginDateUtc]
      ,[LastActivityDateUtc]
      ,[CreatedBy]
      ,[CreatedLocalDate]
      ,[CreatedUtcDate]
      ,[CreatedNepaliDate]
      ,[UpdatedBy]
      ,[UpdatedLocalDate]
      ,[UpdatedUtcDate]
      ,[UpdatedNepaliDate]
	  ,(Select RoleId from tbl_user_roles where UserId=@Id) RoleId
  FROM [dbo].[tbl_users] with (Nolock) where Id=@Id AND IsDeleted=0
END
