USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_servicetypesetting_remove]    Script Date: 8/23/2023 12:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[usp_servicetypesetting_remove] --'NPR','FYN',2,3
(
 @SourceCurrency varchar(3) = NULL
,@DestinationCurrency varchar(3) = NULL
,@ChargeCategoryId int = NULL
,@PaymentTypeId int = NULL,
@IdentityVal INT = NULL OUTPUT,
@StatusCode INT = NULL OUTPUT,
@MsgType VARCHAR(10) = NULL OUTPUT,
@MsgText VARCHAR(200) = NULL OUTPUT  
)
AS
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0

	DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT
 BEGIN TRY
	INSERT INTO dbo.tbl_service_charge_settings_history(Id,[ChargeCategoryId]
      ,[SourceCurrency]
      ,[DestinationCurrency]
      ,[PaymentTypeId]
      ,[MinAmountSlab]
      ,[MaxAmountSlab]
      ,[ServiceChargePercent]
      ,[ServiceChargeFixed]
      ,[MinServiceCharge]
      ,[MaxServiceCharge]
      ,[CommissionPercent]
      ,[CommissionFixed]
      ,[MinCommission]
      ,[MaxCommission]
      ,[FromDate]
      ,[ToDate]
      ,[IsActive]  
	  ,[IsDeleted]
      ,[Maker]
      ,[Checker]
      ,[CreatedById]
      ,[CreatedByName]
      ,[CreatedDate]
      ,[UpdatedById]
      ,[UpdatedByName]
      ,[UpdatedDate]
	  )
			select Id,[ChargeCategoryId]
      ,[SourceCurrency]
      ,[DestinationCurrency]
      ,[PaymentTypeId]
      ,[MinAmountSlab]
      ,[MaxAmountSlab]
      ,[ServiceChargePercent]
      ,[ServiceChargeFixed]
      ,[MinServiceCharge]
      ,[MaxServiceCharge]
      ,[CommissionPercent]
      ,[CommissionFixed]
      ,[MinCommission]
      ,[MaxCommission]
      ,[FromDate]
      ,[ToDate]
      ,[IsActive]  
	  ,1
      ,[Maker]
      ,[Checker]
      ,[CreatedById]
      ,[CreatedByName]
      ,[CreatedDate]
      ,[UpdatedById]
      ,[UpdatedByName]
      ,[UpdatedDate] from dbo.tbl_service_charge_settings where SourceCurrency=@SourceCurrency AND DestinationCurrency=@DestinationCurrency 
				AND ChargeCategoryId=@ChargeCategoryId AND PaymentTypeId=@PaymentTypeId;

	DELETE FROM dbo.tbl_service_charge_settings where SourceCurrency=@SourceCurrency AND DestinationCurrency=@DestinationCurrency 
				AND ChargeCategoryId=@ChargeCategoryId AND PaymentTypeId=@PaymentTypeId;

	SET @StatusCode = 200
	SET @MsgType = 'Sucess'
	SET @MsgText = 'Service Charge Setting Deleted Successfully!'
	SET @IdentityVal = 1
END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	--End 
