USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_banks_byid]    Script Date: 8/9/2023 10:08:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_banks_byid]
 @Id as Int
AS
BEGIN
	SELECT [Id]
		  ,BankName
		  ,BankCode
		  ,BranchCode
		  ,CountryCode
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_banks with (Nolock) where Id=@Id AND IsDeleted=0
END
