USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_KycRemarks_ById]    Script Date: 8/29/2023 5:13:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_action_ById]
 @Id as int
AS
BEGIN
	SELECT [Id]
      ,[Action]
      ,[IsActive]
      ,[DisplayOrder]
      ,[CreatedBy]
      ,[CreatedLocalDate]
      ,[CreatedUtcDate]
      ,[CreatedNepaliDate]
      ,[UpdatedBy]
      ,[UpdatedLocalDate]
      ,[UpdatedUtcDate]
      ,[UpdatedNepaliDate]
  FROM [dbo].[tbl_action] with (Nolock) where Id=@Id 

END
