USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_remit_partners]    Script Date: 9/4/2023 3:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[usp_get_role_module_Action] --'','','','',''
@Module NVARCHAR(200) =NULL
,@Action NVARCHAR(200) = NULL
,@PageNumber INT = 1
,@PageSize INT = 20
,@SortingCol AS VARCHAR(100) ='Module'
,@SortType AS VARCHAR(100) = 'DESC'
,@SearchVal NVARCHAR(300) =''
AS
BEGIN



DECLARE @FilteredCount INT, @TotalCount INT, @TotalPages INT, @PageIndex INT;
DECLARE @tmpTbl AS TABLE(Id INT,RoleId int,ModuleId int,ActionId int, Role nvarchar(200),Module nvarchar(30) ,Action NVARCHAR(200));
DECLARE @tmpTblFiltered AS TABLE(Id INT,RoleId int,ModuleId int,ActionId int, Role nvarchar(200),Module nvarchar(30) ,Action NVARCHAR(200));
	SET NOCOUNT ON;
	IF(ISNULL(@PageSize, 0) <= 0)
		SET @PageSize=20;

	IF(ISNULL(@PageSize, 0) > 100)
		SET @PageSize=100;
	
	IF(ISNULL(@PageNumber, 0) <= 0)
		SET @PageNumber = 1;

	IF(ISNULL(@SortingCol,'') = '')
	BEGIN
		SET @SortingCol = 'DATE'
	END
	IF(ISNULL(@SortType,'') = '')
	BEGIN
		SET @SortType = 'DESC'
	END

	----===============INSERT FILTERED DATA INTO TEMPORARY TEBLE=============
	INSERT INTO @tmpTbl
SELECT rmc.[Id]
      ,rmc.[RoleId]
      ,rmc.[ModuleId]
	  ,rmc.[ActionId]
	  ,r.RoleName
      ,rmc.[Module]      
      ,rmc.[Action]      
  FROM [dbo].[tbl_role_module_action] rmc inner join tbl_roles r on r.Id=rmc.RoleId
		
	--ORDER BY ServiceType DESC	

----============GET TOTAL COUNTS ===============	
	SELECT @TotalCount = COUNT(Id) FROM @tmpTbl;

	----============GET FILTERED COUNTS ===============	
	INSERT INTO @tmpTblFiltered
	SELECT *
	FROM @tmpTbl
	

	SELECT  @FilteredCount = COUNT(Id) FROM @tmpTblFiltered;

	----=========== GET FILTERED RESULT SET WITH PAGINATION ===========	

	SELECT * FROM @tmpTblFiltered t
	ORDER BY 
	--t.[Date] DESC
	CASE WHEN @SortingCol = 'Module' AND @SortType ='ASC' THEN t.[Module] END ,
	CASE WHEN @SortingCol = 'Module' AND @SortType ='DESC' THEN t.[Module] END DESC

	OFFSET (@PageNumber-1)*@PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

		IF(@FilteredCount = 0)
	BEGIN
		SET @TotalPages = 1;
	END
	ELSE IF((@FilteredCount % @PageSize) = 0)
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize);
	END
	ELSE
	BEGIN
		SET @TotalPages = (@FilteredCount / @PageSize) + 1;
	END


	SELECT @PageNumber AS PageNumber, @PageSize AS PageSize, @TotalCount AS TotalCount, @FilteredCount AS FilteredCount, @TotalPages AS TotalPages;
	

  --SET NOCOUNT OFF;
END
