USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Incomesource]    Script Date: 8/15/2023 11:09:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_Incomesource]
 (
	 @IncomeSourceName nvarchar(20) = ''  	
	,@Status int=0
 )
AS
BEGIN
	SELECT [Id]
		  ,SourceName
		  ,[Description]
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_income_source with (Nolock) where IsDeleted=0 and
	   ISNULL(SourceName,'') LIKE ISNULL(REPLACE(@IncomeSourceName,' ',''),'') + '%' 	
		AND (
		CASE 
		WHEN @Status = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @Status = 1 AND IsActive =  1 THEN 1
		WHEN @Status = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1

END
