
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Currency_ById]    Script Date: 8/19/2023 11:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[usp_get_partner_credentials_ById]
@CredentialId as varchar(50)
AS
BEGIN
SELECT [CredentialId]
      ,[PartnerCode]
      ,[ApiUserName]
      ,[ApiPassword]
      ,[ApiKey]
      ,[SystemPrivateKey]
      ,[SystemPublicKey]
      ,[UserPrivateKey]
      ,[UserPublicKey]
      ,[IPAddress]
      ,[IsActive]
      ,[CreatedById]
      ,[CreatedByName]
      ,[CreatedDate]
      ,[UpdatedById]
      ,[UpdatedByName]
      ,[UpdatedDate]
  FROM [dbo].[tbl_partner_credentials] with (Nolock) where CredentialId=@CredentialId 

END
