USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_module_action_ById]    Script Date: 9/4/2023 2:40:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[usp_get_role_module_action_ById]
@Id as int
AS
BEGIN
SELECT [Id]
      ,[RoleId]
      ,[ModuleId]
      ,[Module]
      ,[ActionId]
      ,[Action]
      ,[CreatedBy]
      ,[CreatedLocalDate]
      ,[CreatedUtcDate]
      ,[CreatedNepaliDate]
      ,[UpdatedBy]
      ,[UpdatedLocalDate]
      ,[UpdatedUtcDate]
      ,[UpdatedNepaliDate]
  FROM [dbo].[tbl_role_module_action] with (Nolock) where Id=@Id 

END
