USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_partner_banks]    Script Date: 8/14/2023 3:55:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal



Alter Proc [dbo].[Usp_IUD_partner_banks](	@Event char(2) = 'I', 	@Id Int = 0, 	@PartnerCode varchar(20),	@BankCode varchar(20),	@AccountNumber varchar(50),	@AccountName varchar(200),	@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As

	SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @PartnerCode = TRIM(@PartnerCode)
	SET @BankCode = TRIM(@BankCode)
	SET @AccountNumber = TRIM(@AccountNumber)
	SET @AccountName = TRIM(@AccountName)


DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT
If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@PartnerCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PartnerCode is required'
		RETURN
	END
	IF (ISNULL(@BankCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END
	IF (ISNULL(@AccountNumber, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'AccountNumber is required'
		RETURN
	END
	IF (ISNULL(@AccountName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'AccountName is required'
		RETURN
	END
	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_remit_partners WITH(NOLOCK) WHERE UPPER(PartnerCode) = UPPER(@PartnerCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Partner Code'
		RETURN
	END
	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_banks WITH(NOLOCK) WHERE UPPER(BankCode) = UPPER(@BankCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Bank Code'
		RETURN
	END
	IF  EXISTS (SELECT 1 FROM [dbo].tbl_partner_banks WITH(NOLOCK) WHERE UPPER(AccountNumber) = UPPER(@AccountNumber))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Account Number Already in Used'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	Insert Into dbo.tbl_partner_banks(PartnerCode,BankCode,AccountNumber,AccountName,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@PartnerCode,		@BankCode,		@AccountNumber,		@AccountName,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
		Set @IdentityVal = @@IDENTITY
		Set @MsgText = 'Record Inserted Successfully !'	
		Set @StatusCode = 200
		SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@PartnerCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'PartnerCode is required'
		RETURN
	END
	IF (ISNULL(@BankCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END
	IF (ISNULL(@AccountNumber, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'AccountNumber is required'
		RETURN
	END
	IF (ISNULL(@AccountName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'AccountName is required'
		RETURN
	END
	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_remit_partners WITH(NOLOCK) WHERE UPPER(PartnerCode) = UPPER(@PartnerCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Partner Code'
		RETURN
	END
	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_banks WITH(NOLOCK) WHERE UPPER(BankCode) = UPPER(@BankCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Bank Code'
		RETURN
	END
	IF  EXISTS (SELECT 1 FROM [dbo].tbl_partner_banks WITH(NOLOCK) WHERE UPPER(AccountNumber) = UPPER(@AccountNumber) and Id<>@Id)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Account Number Already in Used'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_partner_banks Set 		[PartnerCode] = @PartnerCode,		[BankCode] = @BankCode,		[AccountNumber] = @AccountNumber,		[AccountName] = @AccountName,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = 	GETUTCDATE()	 Where [Id] = @Id		Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	BEGIN TRY
	Update dbo.tbl_partner_banks Set	IsDeleted = 1,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = 	GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 