
CREATE OR ALTER PROCEDURE [dbo].[usp_insert_api_log]
(
	@LogId NVARCHAR(100) = NULL,
	@TransactionId NVARCHAR(50) = NULL,
	@TrackerId nvarchar(50) =  NULL,
	@RequestInput NVARCHAR(MAX) = NULL,
	@ResponseOutput NVARCHAR(MAX) = NULL,
	@ResponseHttpStatus INT = NULL,
	@RequestUrl NVARCHAR(500) = NULL,
	@RequestHeaders NVARCHAR(MAX) = NULL,
	@VendorRequestInput NVARCHAR(MAX) = NULL,
	@VendorResponseOutput NVARCHAR(MAX) = NULL,
	@VendorRequestURL NVARCHAR(500) = NULL,
	@VendorRequestHeaders NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus INT = NULL,
	@VendorResponseStatus BIT = NULL,
	@VendorResponseState NVARCHAR(50) = NULL,
	@VendorResponseMessage NVARCHAR(500) = NULL,
	@VendorTransactionId NVARCHAR(50) = NULL,
	@VendorTrackerId NVARCHAR(50) = NULL,
	@VendorException nvarchar(500) = NULL,
	@VendorExceptionStackTrace nvarchar(max) = NULL,
	@VendorId nvarchar(50) = NULL,
	@VendorType nvarchar(50) = NULL,
	@VendorRequestInput2 NVARCHAR(MAX) = NULL,
	@VendorResponseOutput2 NVARCHAR(MAX) = NULL,
	@VendorRequestURL2 NVARCHAR(500) = NULL,
	@VendorRequestHeaders2 NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus2 INT = NULL,
	@VendorResponseStatus2 BIT = NULL,
	@VendorResponseState2 NVARCHAR(50) = NULL,
	@VendorResponseMessage2 NVARCHAR(500) = NULL,
	@VendorTransactionId2 NVARCHAR(50) = NULL,
	@VendorTrackerId2 NVARCHAR(50) = NULL,
	@VendorException2 nvarchar(500) = NULL,
	@VendorExceptionStackTrace2 nvarchar(max) = NULL,
	@VendorId2 NVARCHAR(50) = NULL,
	@VendorType2 NVARCHAR(50) = NULL,
	@VendorRequestInput3 NVARCHAR(MAX) = NULL,
	@VendorResponseOutput3 NVARCHAR(MAX) = NULL,
	@VendorRequestURL3 NVARCHAR(500) = NULL,
	@VendorRequestHeaders3 NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus3 INT = NULL,
	@VendorResponseStatus3 BIT = NULL,
	@VendorResponseState3 NVARCHAR(50) = NULL,
	@VendorResponseMessage3 NVARCHAR(500) = NULL,
	@VendorTransactionId3 NVARCHAR(50) = NULL,
	@VendorTrackerId3 NVARCHAR(50) = NULL,
	@VendorException3 nvarchar(500) = NULL,
	@VendorExceptionStackTrace3 nvarchar(max) = NULL,
	@VendorId3 NVARCHAR(50) = NULL,
	@VendorType3 NVARCHAR(50) = NULL,
	@ClientCode nvarchar(50) = NULL,
	@PartnerCode nvarchar(50) = NULL,
	@AgentCode nvarchar(50) = NULL,
	@MemberId nvarchar(50) = NULL,
	@MemberUserName NVARCHAR(100) = NULL,
	@MemberName NVARCHAR(100) = NULL,
	@DeviceCode NVARCHAR(500) = NULL,
	@IpAddress NVARCHAR(150) = NULL,
	@Platform NVARCHAR(100) = NULL,	
	@MachineName NVARCHAR(100) = NULL,
	@Environment NVARCHAR(100) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	IF(ISNULL(@LogId,'') = '')
		SET @LogId = LOWER(NEWID());

	INSERT INTO [dbo].[tbl_vendor_api_logs]
	(LogId,TransactionId,TrackerId,RequestInput,ResponseOutput,ResponseHttpStatus,RequestUrl,RequestHeaders
	,VendorRequestInput,VendorResponseOutput,VendorRequestUrl,VendorRequestHeaders,VendorResponseHttpStatus,VendorResponseState,VendorResponseMessage,VendorTransactionId
	,VendorTrackerId,VendorException,VendorExceptionStackTrace,VendorId,VendorType
	,VendorRequestInput2,VendorResponseOutput2,VendorRequestURL2,VendorRequestHeaders2,VendorResponseHttpStatus2,VendorResponseStatus2,VendorResponseState2,VendorResponseMessage2,VendorTransactionId2,
	VendorTrackerId2,VendorException2,VendorExceptionStackTrace2,VendorId2,VendorType2
	,VendorRequestInput3,VendorResponseOutput3,VendorRequestURL3,VendorRequestHeaders3,VendorResponseHttpStatus3,VendorResponseStatus3,VendorResponseState3,VendorResponseMessage3,VendorTransactionId3
	,VendorTrackerId3,VendorException3,VendorExceptionStackTrace3,VendorId3,VendorType3
	,ClientCode,PartnerCode,AgentCode,MemberId,MemberUserName,MemberName,DeviceCode,IpAddress,Platform,MachineName,Environment,CreatedDate
	)
	VALUES
	(@LogId,@TransactionId,@TrackerId,@RequestInput,@ResponseOutput,@ResponseHttpStatus,@RequestUrl,@RequestHeaders
	,@VendorRequestInput,@VendorResponseOutput,@VendorRequestUrl, @VendorRequestHeaders, @VendorResponseHttpStatus,@VendorResponseState,@VendorResponseMessage,@VendorTransactionId
	,@VendorTrackerId,@VendorException,@VendorExceptionStackTrace,@VendorId,@VendorType
	,@VendorRequestInput2,@VendorResponseOutput2,@VendorRequestURL2,@VendorRequestHeaders2,@VendorResponseHttpStatus2,@VendorResponseStatus2,@VendorResponseState2,@VendorResponseMessage2,@VendorTransactionId2
	,@VendorTrackerId2,@VendorException2,@VendorExceptionStackTrace2,@VendorId2,@VendorType2
	,@VendorRequestInput3,@VendorResponseOutput3,@VendorRequestURL3,@VendorRequestHeaders3,@VendorResponseHttpStatus3,@VendorResponseStatus3,@VendorResponseState3,@VendorResponseMessage3,@VendorTransactionId3
	,@VendorTrackerId3,@VendorException3,@VendorExceptionStackTrace3,@VendorId3,@VendorType3
	,@ClientCode,@PartnerCode,@AgentCode,@MemberId,@MemberUserName,@MemberName,@DeviceCode,@IpAddress,@Platform,@MachineName,@Environment,GETDATE()
	)

	SET NOCOUNT OFF
END
