USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Currency]    Script Date: 8/9/2023 3:34:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_Currency]

AS
BEGIN
	SELECT [Id]
		  ,CurrencyName
		  ,ShortName
		  ,Symbol
		  ,CountryCode
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_currency with (Nolock) where IsDeleted=0

END
