USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_relation]    Script Date: 8/9/2023 9:55:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal


ALTER Proc [dbo].[Usp_IUD_relation](	@Event char(2) = 'I', 	@Id Int = 0, 	@RelationName varchar(200),	@Description varchar(300),	@IsActive bit,	@IsDeleted bit,	@CreatedById int,	@CreatedByName varchar(100),	@UpdatedById int,	@UpdatedByName varchar(100),	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As


	SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @RelationName = TRIM(@RelationName)
	SET @Description = TRIM(@Description)

If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@RelationName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'RelationName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Insert Into dbo.tbl_relation(RelationName,[Description],IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@RelationName,		@Description,		@IsActive,		0,		@CreatedById,		@CreatedByName,		GETUTCDATE()			)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
		IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@RelationName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'RelationName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_relation Set 		[RelationName] = @RelationName,		[Description] = @Description,		[IsActive] = @IsActive,		[UpdatedById] = @UpdatedById,		[UpdatedByName] = @UpdatedByName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	SET @StatusCode = 200
	SET @MsgType = 'Success'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	
	Update dbo.tbl_relation Set		IsDeleted=1,		[UpdatedById] = @UpdatedById,		[UpdatedByName] = @UpdatedByName,		[UpdatedDate] = GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'	
	SET @StatusCode = 200
	SET @MsgType = 'Success'
End 