
CREATE OR ALTER PROCEDURE [dbo].[usp_update_api_response_log]
(
	@LogId NVARCHAR(100) = NULL,
	@TransactionId NVARCHAR(50) = NULL,
	@TrackerId nvarchar(50) =  NULL,
	@ResponseOutput NVARCHAR(MAX) = NULL,
	@ResponseHttpStatus INT = NULL,
	@VendorTransactionId NVARCHAR(50) = NULL,
	@VendorTrackerId NVARCHAR(50) = NULL,
	@VendorId NVARCHAR(50) = NULL,
	@VendorType NVARCHAR(50) = NULL,
	@VendorTransactionId2 NVARCHAR(50) = NULL,
	@VendorTrackerId2 NVARCHAR(50) = NULL,
	@VendorId2 NVARCHAR(50) = NULL,
	@VendorType2 NVARCHAR(50) = NULL,
	@VendorTransactionId3 NVARCHAR(50) = NULL,
	@VendorTrackerId3 NVARCHAR(50) = NULL,
	@VendorId3 NVARCHAR(50) = NULL,
	@VendorType3 NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[tbl_vendor_api_logs]
	SET
	TransactionId = @TransactionId
	,TrackerId = @TrackerId
	,ResponseOutput = @ResponseOutput
	,ResponseHttpStatus = @ResponseHttpStatus
	,VendorTransactionId = @VendorTransactionId
	,VendorTrackerId = @VendorTrackerId
	,VendorId = @VendorId
	,VendorType = @VendorType
	,VendorTransactionId2 = @VendorTransactionId2
	,VendorTrackerId2 = @VendorTrackerId2
	,VendorId2 = @VendorId2
	,VendorType2 = @VendorType2
	,VendorTransactionId3 = @VendorTransactionId3
	,VendorTrackerId3 = @VendorTrackerId3
	,VendorId3 = @VendorId3
	,VendorType3 = @VendorType3
	,UpdatedDate = GETDATE()
	WHERE LogId = @LogId;

	SET NOCOUNT OFF
END
