USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_banks]    Script Date: 8/10/2023 10:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Created By		: Bibek Nepal


ALTER Proc [dbo].[Usp_IUD_banks] --'I',1,'Global IME','GIB','Radhe Radhe','Nepal(977)',1,0,1(	@Event char(2) = 'I', 	@Id Int = 0, 	@BankName varchar(200),	@BankCode varchar(20),	@BranchCode varchar(20),	@CountryCode varchar(10),	@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @BankName = TRIM(@BankName)
	SET @BankCode = TRIM(@BankCode)
	SET @BranchCode = TRIM(@BranchCode)
	SET @CountryCode = TRIM(@CountryCode)



If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@BankName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END

		IF (ISNULL(@BankCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END
	IF (ISNULL(@BranchCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BranchCode is required'
		RETURN
	END
	IF (ISNULL(@CountryCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'CountryCode is required'
		RETURN
	END
	IF Not EXISTS (SELECT 1 FROM [dbo].tbl_country WITH(NOLOCK) WHERE UPPER(CountryCode) = UPPER(@CountryCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Country Code'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Insert Into dbo.tbl_banks(BankName,BankCode,BranchCode,CountryCode,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@BankName,		@BankCode,		@BranchCode,		@CountryCode,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
		Set @IdentityVal = @@IDENTITY
		Set @MsgText = 'Record Inserted Successfully !'	
		Set @StatusCode = 200
		SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorProcedure NVARCHAR(256) = ERROR_PROCEDURE();
        DECLARE @ErrorLine INT = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH

End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
	IF (ISNULL(@BankName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END

		IF (ISNULL(@BankCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BankCode is required'
		RETURN
	END
	IF (ISNULL(@BranchCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'BranchCode is required'
		RETURN
	END
	IF (ISNULL(@CountryCode, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'CountryCode is required'
		RETURN
	END
		IF EXISTS (SELECT 1 FROM [dbo].tbl_country WITH(NOLOCK) WHERE UPPER(CountryCode) = UPPER(@CountryCode))
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Invalid Country Code'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_banks Set 		[BankName] = @BankName,		[BankCode] = @BankCode,		[BranchCode] = @BranchCode,		[CountryCode] = @CountryCode,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = 	GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
--------------------------------------------- Validation End  -------------------------------------------------------
	
	Update dbo.tbl_banks Set 	IsDeleted=0,	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = 	GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
End 