USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_PaymentType_ddl]    Script Date: 8/21/2023 10:35:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER  PROCEDURE [dbo].[usp_get_PaymentType_ddl]
AS
BEGIN
	select 
	PaymentTypeName as [Text],
	Id as [Value]
	from tbl_payment_type with (Nolock) where IsActive=1 and IsDeleted=0
END
