USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_Module]    Script Date: 8/29/2023 4:36:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Rohit poudel
--- Created Date	: Auto Generated By AutoGenerator 
--- Description		: Procedure For Auto Create Insert Proc 


ALTER Proc [dbo].[Usp_IUD_Module](	@Event char(2) = 'I', 	@Id Int = 0, 	@Module nvarchar(450),	@ParentId int,	@IsActive bit,	@DisplayerOrder int,	@LoggedInUser varchar(100)=NULL,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT
)
As
DECLARE @ErrorNumber INT 
DECLARE @ErrorMessage NVARCHAR(4000)
DECLARE @ErrorSeverity INT
DECLARE @ErrorState INT
DECLARE @ErrorProcedure NVARCHAR(256)
DECLARE @ErrorLine INT

SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0

	SET @Module=TRIM(@Module)

If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
		IF (ISNULL(@Module, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Module is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	INSERT INTO [dbo].[tbl_Module]
           ([Module]
           ,[ParentId]
           ,[IsActive]
           ,[DisplayerOrder]
           ,[CreatedBy]
           ,[CreatedLocalDate]
           ,[CreatedUtcDate]
           ,[CreatedNepaliDate]
           ,[UpdatedBy]
           ,[UpdatedLocalDate]
           ,[UpdatedUtcDate]
           ,[UpdatedNepaliDate])
     VALUES	(			@Module,		@ParentId,		@IsActive,		@DisplayerOrder,		@LoggedInUser,		getdate(),		GETUTCDATE(),		NULL,		NULL,		NULL,		NULL,		NULL	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'	
	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Id is required'
		RETURN
	END
		IF (ISNULL(@Module, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Module is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
   BEGIN TRY
	Update dbo.tbl_Module Set 		[Module] = @Module,		[ParentId] = @ParentId,		[IsActive] = @IsActive,		[DisplayerOrder] = @DisplayerOrder,			[UpdatedBy] = @LoggedInUser,		[UpdatedLocalDate] = GETDATE(),		[UpdatedUtcDate] = GETUTCDATE(),		[UpdatedNepaliDate] = NULL	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'	Set @StatusCode = 200
	SET @MsgType = 'Sucess'
	END TRY
	BEGIN CATCH
		SET @ErrorNumber  = ERROR_NUMBER();
        SET @ErrorMessage  = ERROR_MESSAGE();
        SET @ErrorSeverity  = ERROR_SEVERITY();
        SET @ErrorState  = ERROR_STATE();
        SET @ErrorProcedure  = ERROR_PROCEDURE();
        SET @ErrorLine  = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
	End 

