USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_admin_roles_ddl]    Script Date: 8/28/2023 2:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  PROCEDURE [dbo].[usp_get_parent_menu_ddl]
AS
BEGIN
	select 
	[Title] as [Text],
	Id as [Value]
	FROM [dbo].[tbl_menu] with (Nolock) where IsActive=1
END
