USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_rolemenupermissions_upsert_byroleid]    Script Date: 8/29/2023 3:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[usp_rolemenupermissions_upsert_byroleid]
	@RoleId NVARCHAR(450),
	@RoleMenuPermissions RoleMenuPermissionsType READONLY
AS
BEGIN
	DECLARE @TempRoleMenuPermissions RoleMenuPermissionsType;
	INSERT @TempRoleMenuPermissions SELECT * FROM @RoleMenuPermissions;

	---- SET all permissions to true if the roleId is 'admin'
	IF (SELECT UPPER(R.RoleName) FROM [dbo].[tbl_roles] R WITH(NOLOCK) WHERE R.[Id] = @RoleId) = 'SuperAdmin'
	BEGIN
		UPDATE @TempRoleMenuPermissions
		SET
			[ViewPer] = CONVERT(BIT, 1),
			[CreatePer] = CONVERT(BIT, 1),
			[UpdatePer] = CONVERT(BIT, 1),
			[DeletePer] = CONVERT(BIT, 1);
	END

	BEGIN TRY
		SET NOCOUNT ON;
		MERGE INTO [dbo].[tbl_role_menu_permission] TARGET
		USING (
				SELECT
					@RoleId RoleId,
					MenuId,
					ViewPer,
					CreatePer,
					UpdatePer,
					DeletePer,
					CreatedDate,			
					CreatedBy,
					UpdatedDate,			
					UpdatedBy,
					IsActive
				FROM
					@TempRoleMenuPermissions
		) AS SOURCE
		ON	(TARGET.[RoleId] = @RoleId AND TARGET.[MenuId] = SOURCE.[MenuId])
		WHEN MATCHED THEN
			---- UPDATE if RoleId and MenuId are already exists in the target table
			UPDATE SET
				TARGET.[ViewPer] = SOURCE.[ViewPer],
				TARGET.[CreatePer] = SOURCE.[CreatePer],
				TARGET.[UpdatePer] = SOURCE.[UpdatePer],
				TARGET.[DeletePer] = SOURCE.[DeletePer],
				TARGET.[UpdatedLocalDate] = SOURCE.[UpdatedDate],							
				TARGET.[UpdatedBy] = SOURCE.[UpdatedBy]
		WHEN NOT MATCHED BY TARGET THEN
			---- INSERT if RoleId and MenuId does not exists in the target table
			INSERT (
				[RoleId],
				[MenuId],
				[ViewPer],
				[CreatePer],
				[UpdatePer],
				[DeletePer],
				[CreatedlocalDate],
				[CreatedBy],
				IsActive
			)
			VALUES (
				SOURCE.[RoleId],
				SOURCE.[MenuId],
				SOURCE.[ViewPer],
				SOURCE.[CreatePer],
				SOURCE.[UpdatePer],
				SOURCE.[DeletePer],
				SOURCE.[CreatedDate],				
				SOURCE.[CreatedBy],
				1
			);
	END TRY
	BEGIN CATCH
		SET NOCOUNT OFF;
		RETURN -1
	END CATCH

	SET NOCOUNT OFF;
	RETURN 0;
END
