
GO
/****** Object:  StoredProcedure [dbo].[usp_get_parent_module_ddl]    Script Date: 9/4/2023 11:45:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter  PROCEDURE [dbo].[usp_get_action_ddl]
AS
BEGIN
		select 
	[Action] as [Text],
	Id as [Value]
	FROM [dbo].[tbl_action] with (Nolock) where IsActive=1
END
