
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Currency_ById]    Script Date: 8/19/2023 11:59:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[usp_get_remit_partner_ById]
@Id as int
AS
BEGIN
SELECT [Id]
      ,[PartnerCode]
      ,[FirstName]
      ,[SurName]
      ,[IsSurNamePresent]
      ,[MobileNumber]
      ,[MobileConfirmed]
      ,[Email]
      ,[EmailConfirmed]
      ,[Post]
      ,[GenderId]
      ,[Address]
      ,[UserName]
      ,[PasswordHash]
      ,[PasswordSalt]
      ,[AccessCodeHash]
      ,[AccessCodeSalt]
      ,[MPINHash]
      ,[MPINSalt]
      ,[ChargeCategoryId]
      ,[FundTypeId]
      ,[CreditUptoLimitPerc]
      ,[CreditSendTxnLimit]
      ,[CashPayoutSendTxnLimit]
      ,[WalletSendTxnLimit]
      ,[BankSendTxnLimit]
      ,[NotificationBalanceLimit]
      ,[TransactionApproval]
      ,[OrganizationName]
      ,[OrgEmail]
      ,[OrgEmailConfirmed]
      ,[CountryCode]
      ,[City]
      ,[FullAddress]
      ,[GMTTimeZone]
      ,[RegistrationNumber]
      ,[SourceCurrency]
      ,[Website]
      ,[IpAddress]
      ,[CompanyLogoImgPath]
      ,[DocumentTypeId]
      ,[DocumentNumber]
      ,[IdFrontImgPath]
      ,[IdBackImgPath]
      ,[ExpiryDate]
      ,[AddressProofTypeId]
      ,[AddressProofImgPath]
      ,[LastIpAddress]
      ,[DeviceId]
      ,[IsActive]
      ,[IsDeleted]
      ,[IsBlocked]
      ,[FailedLoginAttempt]
      ,[TemporaryLockedTillUtcDate]
      ,[LastLoginDateUtc]
      ,[LastActivityDateUtc]
      ,[KycStatusCode]
      ,[Is2FAAuthenticated]
      ,[AccountSecretKey]
      ,[PartnerTimeZone]
      ,[Maker]
      ,[Checker]
      ,[CreatedById]
      ,[CreatedByName]
      ,[CreatedDate]
      ,[UpdatedById]
      ,[UpdatedByName]
      ,[UpdatedDate]
  FROM [dbo].[tbl_remit_partners] with (Nolock) where Id=@Id and IsDeleted=0

END
