USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Occupation_ById]    Script Date: 8/11/2023 12:33:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_Occupation_ById]
 @Id as Int
AS
BEGIN
	SELECT [Id]
		  ,OccupationName
		  ,[Description]
		  ,[IsActive]
		  ,CreatedByName
		  ,UpdatedByName
	  FROM [dbo].tbl_occupation with (Nolock) where Id=@Id AND IsDeleted=0
END
