USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_banks]    Script Date: 8/29/2023 5:15:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 ALTER   PROCEDURE [dbo].[usp_get_action]
 (
	 @Action nvarchar(20) = '' 	
	,@Status int=0
 )
AS
BEGIN
	SELECT [Id]
      ,[Action]
      ,[IsActive]
      ,[DisplayOrder]
      ,[CreatedBy]   
      ,[UpdatedBy]      
  FROM [dbo].[tbl_action]with (Nolock) where
	  ISNULL(Action,'') LIKE ISNULL(REPLACE(@Action,' ',''),'') + '%' 		
		AND (
		CASE 
		WHEN @Status = 0 AND IsActive IN (0, 1) THEN 1
		WHEN @Status = 1 AND IsActive =  1 THEN 1
		WHEN @Status = 2 AND IsActive = 0 THEN 1
		ELSE 0
		END
		) = 1
END
