USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_rolemenupermissions_get_byroleid]    Script Date: 8/29/2023 3:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[usp_rolemenupermissions_get_byroleid]
	@RoleId VARCHAR(450)
AS
BEGIN
	SELECT
		M.Id MenuId, M.Title, M.ParentId, M.MenuUrl, M.DisplayOrder, M.ImagePath,
		ISNULL(P.ViewPer,0) ViewPer,
		ISNULL(P.CreatePer,0) CreatePer,
		ISNULL(P.UpdatePer,0) UpdatePer,
		ISNULL(P.DeletePer,0) DeletePer
	FROM [dbo].[tbl_menu] M WITH(NOLOCK)
	LEFT JOIN [dbo].[tbl_role_menu_permission] P WITH(NOLOCK)
	ON M.Id = P.MenuId AND P.RoleId = @RoleId
	WHERE M.IsActive = CONVERT(BIT, 1);
END
