
CREATE OR ALTER PROCEDURE [dbo].[usp_update_vendor_api_response_log2]
(
	@LogId NVARCHAR(100) = NULL,
	@VendorRequestInput2 NVARCHAR(MAX) = NULL,
	@VendorResponseOutput2 NVARCHAR(MAX) = NULL,
	@VendorRequestURL2 NVARCHAR(500) = NULL,
	@VendorRequestHeaders2 NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus2 INT = NULL,
	@VendorResponseStatus2 BIT = NULL,
	@VendorResponseState2 NVARCHAR(50) = NULL,
	@VendorResponseMessage2 NVARCHAR(500) = NULL,
	@VendorTransactionId2 NVARCHAR(50) = NULL,
	@VendorTrackerId2 NVARCHAR(50) = NULL,
	@VendorException2 nvarchar(500) = NULL,
	@VendorExceptionStackTrace2 nvarchar(max) = NULL,
	@VendorId2 NVARCHAR(50) = NULL,
	@VendorType2 NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[tbl_vendor_api_logs]
	SET
	VendorRequestInput2 = @VendorRequestInput2
	,VendorResponseOutput2 = @VendorResponseOutput2
	,VendorRequestURL2 = @VendorRequestURL2
	,VendorRequestHeaders2 = @VendorRequestHeaders2
	,VendorResponseHttpStatus2 = @VendorResponseHttpStatus2
	,VendorResponseStatus2 = @VendorResponseStatus2
	,VendorResponseState2 = @VendorResponseState2
	,VendorResponseMessage2 = @VendorResponseMessage2
	,VendorTransactionId2 = @VendorTransactionId2
	,VendorTrackerId2 = @VendorTrackerId2
	,VendorException2 = @VendorException2
	,VendorExceptionStackTrace2 = @VendorExceptionStackTrace2
	,VendorId2 = @VendorId2
	,VendorType2 = @VendorType2
	,UpdatedDate = GETDATE()
	WHERE LogId = @LogId;

	SET NOCOUNT OFF
END