USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[Usp_IUD_kyc_remarks]    Script Date: 8/10/2023 10:43:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- Created By		: Bibek Nepal



ALTER Proc [dbo].[Usp_IUD_kyc_remarks](	@Event char(2) = 'I', 	@Id Int = 0, 	@RemarksName varchar(200),	@Description varchar(300),	@IsActive bit,	@LoggedInUser int,	@LoggedInUserName varchar(100)=null,	@IdentityVal INT = NULL OUTPUT,
    @StatusCode INT = NULL OUTPUT,
	@MsgType VARCHAR(10) = NULL OUTPUT,
	@MsgText VARCHAR(200) = NULL OUTPUT  
)
As
SET @StatusCode = 400
	SET @MsgType = 'Error'
	SET @MsgText = 'Bad Request'
	SET @IdentityVal = 0	

	SET @RemarksName = TRIM(@RemarksName)
	SET @Description = TRIM(@Description)


If @Event = 'I'  --for Insert
Begin 
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@RemarksName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'RemarksName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
    BEGIN TRY
	Insert Into dbo.tbl_kyc_remarks(RemarksName,Description,IsActive,IsDeleted,CreatedById,CreatedByName,CreatedDate) Values 	(			@RemarksName,		@Description,		@IsActive,		0,		@LoggedInUser,		@LoggedInUserName,		GETUTCDATE()	)  
	Set @IdentityVal = @@IDENTITY
	Set @MsgText = 'Record Inserted Successfully !'
	END TRY
	BEGIN CATCH
		DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorProcedure NVARCHAR(256) = ERROR_PROCEDURE();
        DECLARE @ErrorLine INT = ERROR_LINE();

        EXEC [dbo].[usp_logdberror] @ErrorNumber, @ErrorMessage, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine;
		
		-- Re-throw the error to the calling application
        THROW;
	END CATCH
End 
Else
If @Event = 'U'    --- Update
Begin
	--------------------------------------------- Validation Begin ------------------------------------------------------
	IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'id is required'
		RETURN
	END

	IF (ISNULL(@RemarksName, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'RemarksName is required'
		RETURN
	END

		IF (ISNULL(@Description, '') = '')
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'Description is required'
		RETURN
	END
   --------------------------------------------- Validation End  -------------------------------------------------------
	Update dbo.tbl_kyc_remarks Set 		[RemarksName] = @RemarksName,		[Description] = @Description,		[IsActive] = @IsActive,				[UpdatedById] = @LoggedInUser,		[UpdatedByName] = @LoggedInUserName,		[UpdatedDate] = GETUTCDATE()	 Where [Id] = @Id	Set @IdentityVal = @Id 	Set @MsgText = 'Record Updated Successfully !'End 
Else
If @Event = 'D'   -- For Delete 
Begin 

--------------------------------------------- Validation Begin ------------------------------------------------------
IF (ISNULL(@Id, 0) = 0)
	BEGIN
		SET @StatusCode = 400
		SET @MsgText = 'id is required'
		RETURN
	END

--------------------------------------------- Validation End  -------------------------------------------------------
	
	Update dbo.tbl_kyc_remarks SET	IsDeleted=0, 	[UpdatedById] = @LoggedInUser,	[UpdatedByName] = @LoggedInUserName,	[UpdatedDate] = GETUTCDATE()	Where [Id] = @Id 	Set @IdentityVal = @Id 	Set @MsgText = 'Record Deleted Successfully !'	
End 