
CREATE OR ALTER PROCEDURE [dbo].[usp_update_vendor_api_response_log]
(
	@LogId NVARCHAR(100) = NULL,
	@VendorRequestInput NVARCHAR(MAX) = NULL,
	@VendorResponseOutput NVARCHAR(MAX) = NULL,
	@VendorRequestURL NVARCHAR(500) = NULL,
	@VendorRequestHeaders NVARCHAR(MAX) = NULL,
	@VendorResponseHttpStatus INT = NULL,
	@VendorResponseStatus BIT = NULL,
	@VendorResponseState NVARCHAR(50) = NULL,
	@VendorResponseMessage NVARCHAR(500) = NULL,
	@VendorTransactionId NVARCHAR(50) = NULL,
	@VendorTrackerId NVARCHAR(50) = NULL,
	@VendorException nvarchar(500) = NULL,
	@VendorExceptionStackTrace nvarchar(max) = NULL,
	@VendorId NVARCHAR(50) = NULL,
	@VendorType NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON

	UPDATE [dbo].[tbl_vendor_api_logs]
	SET
	VendorRequestInput = @VendorRequestInput
	,VendorResponseOutput = @VendorResponseOutput
	,VendorRequestURL = @VendorRequestURL
	,VendorRequestHeaders = @VendorRequestHeaders
	,VendorResponseHttpStatus = @VendorResponseHttpStatus
	,VendorResponseStatus = @VendorResponseStatus
	,VendorResponseState = @VendorResponseState
	,VendorResponseMessage = @VendorResponseMessage
	,VendorTransactionId = @VendorTransactionId
	,VendorTrackerId = @VendorTrackerId
	,VendorException = @VendorException
	,VendorExceptionStackTrace = @VendorExceptionStackTrace
	,VendorId = @VendorId
	,VendorType = @VendorType
	,UpdatedDate = GETDATE()
	WHERE LogId = @LogId;

	SET NOCOUNT OFF
END