USE [MpmtDb]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_utctime_ddl]    Script Date: 8/27/2023 9:55:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  PROCEDURE [dbo].[usp_get_admin_roles_ddl]
AS
BEGIN
	select 
	[RoleName] as [Text],
	Id as [Value]
	from tbl_roles with (Nolock) where IsActive=1
END
