@using Mpmt.Web.Areas.Admin.ViewModels.Paetner;
@model SystemRsakeyPairAgentVM
<form id="UserRsakeyPairform" class="form-horizontal auth-form" method="post" autocomplete="off">
    <div class="card p-2">
        <div class="form-group mb-2">
            <label class="form-label" for="userpassword">User Public Key </label>
            <div class="input-group">
                <textarea class="form-control" id="publickeyidcopy" aria-label="With textarea" disabled
                          placeholder="" rows="9" cols="64">@Model.PublicKey</textarea>
            </div>
            <div class="input-group justify-content-end mt-2">
                <button type="button" id="copyText" onclick="CopyPublicText('publickeyidcopy')" class="input-group-text">Copy</button>
                <button type="button" onclick="downloadKeyFile('USERPUBLICKEY')" class="input-group-text">Download</button>
            </div>
        </div>
        <div class="form-group mb-2">
            <label class="form-label" for="userpassword">User Private Key </label>
            <div class="input-group">
                <textarea class="form-control" id="privatekeyidcopy" aria-label="With textarea" disabled
                          placeholder="" rows="29" cols="64">@Model.PrivetKey</textarea>
            </div>
            <div class="input-group justify-content-end mt-2">
                <button type="button" id="copyText2" onclick="CopyPublicTxt('privatekeyidcopy')" class="input-group-text">Copy</button>
                <button type="button" onclick="downloadKeyFile('USERPRIVATEKEY')" class="input-group-text">Download</button>
            </div>
        </div>
        <input asp-for="AgentCode" style="display:none" readonly />
        <input asp-for="CredentialId" style="display:none" readonly />
        <div class="row mt-2">
            <div class="col"></div>
            <!--end col-->
            <div class="col-auto align-self-center">
                <div class="button-items float-right pull-right">
                    <button type="submit" class="btn btn-sm btn-primary">Regenerate User RSA Key Pair</button>
                </div>
            </div>
            <!--end col-->
        </div>
    </div>

    <div class="form-group mb-0 row mt-4">
        <div class="button-items">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>

    </div>
</form><!--end form-->
<script>
    function downloadKeyFile(keyType) {
        if (!keyType)
            throw new Error('Invalid keyType.');

        var url = '@Url.Action("ExportCredential", "SuperAgent")';
        var AgentCode = $('#UserRsakeyPairform [name="AgentCode"]').val();

        var reqBodyObj = {
            AgentCode: AgentCode,
            CredentialType: keyType
        }

        downloadRsaFileAsPem(url, reqBodyObj);
    }
</script>
<script>
    function CopyPublicText(fieldid) {
        var copyText = document.getElementById(fieldid);

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        $('#copyText').text('Copied');
    }
</script>
<script>
    function CopyPublicTxt(fieldid) {
        var copyText = document.getElementById(fieldid);

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        $('#copyText2').text('Copied');
    }
</script>
<script>

    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("ViewPasswordUserRsakeyPair", "SuperAgent")',
        containerSelector: '#add-new .modal-body',
        selector: '#UserRsakeyPairform'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');

        Pagination.getData();
    });
</script>