<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item "><a href="javascript:void(0);">Partners</a></li>
                            <li class="breadcrumb-item active">Partner Bank List</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto">
                    </div>
                </div>
                <div class="row mt-4">

                    <div class="col-auto align-self-center">
                        <div class="general-label">
                            <form class="row row-cols-lg-auto align-items-center">
                                <div class="col-12 mb-3 form-control-wrap focused">
                                    <label class="form-label-outlined" for="inlineFormSelectPref">Start Date</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-12 mb-3 form-control-wrap focused">
                                    <label class="form-label-outlined" for="inlineFormSelectPref">End Date</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Merchant id">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Bank Code">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Bank Name">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Branch Name">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Account Number">
                                    </div>
                                </div>


                                <div class="col-12 mb-3">
                                    <button type="buton" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                </div>
                            </form>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row--><!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Partner List</h4>
                        </div>

                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body overflow-x-auto">
                    <table id="datatable-buttons"  class="table table-striped dataTable nowrap">
                        <thead class="table-light">
                            <tr>
                                <th>Created Date</th>
                                <th>Update Date </th>
                                <th>Merchant Id</th>
                                <th>Name</th>
                                <th>Bank Code</th>
                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>Created By</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>2021/05/02 </td>
                                <td>2021/05/02 </td>
                                <td>25451</td>
                                <td>Jacob Duffy</td>
                                <td>25451</td>
                                <td>NIC Asia Bank Ltd</td>
                                <td>9563452356789234534656766556</td>
                                <td>Admin</td>

                                <td name="buttons">
                                    <div class=" float-center">
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModalLogin" class="btn btn-sm btn-soft-success btn-circle me-2"><i class="dripicons-pencil"></i></button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->