@using Mpmt.Core.Dtos.Partner
@using Mpmt.Core.Dtos.Paging
@using Mpmt.Core.Models.RMP;

@model PagedList<PartnerDetails>
@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}
<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item "><a href="javascript:void(0);">Partners</a></li>
                            <li class="breadcrumb-item active">Partner List</li>
                        </ol>
                    </div><!--end col-->
                    <div class="col-auto">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-auto align-self-center">
                        <div class="general-label">
                            <form id="FormPatnerfilter" class="row row-cols-lg-auto align-items-end">
                                <div class="col-12 mb-2">
                                    <div class="input-group">
                                        <input type="text" name="PartnerCode" class="form-control" placeholder="Partner Code">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="input-group">
                                        <input type="text" name="Name" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="input-group">
                                        <input type="text" name="Email" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-12 mb-2">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">Start Date</label>
                                    <input type="date" name="StartDate" class="form-control">
                                </div>
                                <div class="col-12 mb-2">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">End Date</label>
                                    <input type="date" name="EndDate" class="form-control">
                                </div>


                                <div class="col-12 mb-2">

                                    <button id="btnformpartnerfilter" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>


                                    @*    <button type="button" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>

                                    <button type="button" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>*@


                                </div>
                            </form>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row--><!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Partner List</h4>
                        </div>
                        <!--end col-->
                        <div class="col-auto">
                            <div class="add-btn">

                                    <a class="btn btn-md btn-soft-warning" asp-controller="RemitPartnerRegistration" asp-action="RemitPartnerRegistrationIndex">
                                        <i class="las la-eye ms-1"></i> View Request
                                    </a>


                                @if (actors.FirstOrDefault(x => x.Action == "AddPartner")?.Permission ?? false)
                                {
                                    <a onclick="ShowPopUp('@Url.Action("AddPartner","Partners")','Add Partner')" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLogin">
                                        <i class="las la-plus ms-1"></i> Add Partner
                                    </a>
                                }

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end card-header-->
                <div class="card-body overflow-x-auto">
                    <partial name="_PaginationHeader" />
                    <div id="partnerTableWrapper" class="table-responsive12">
                        <partial name="_PartnerList" model="@Model" />
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div><!-- container -->
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>

    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    
    <script src="~/js/admin/admin.partners.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            // Initialize pagination settings object
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("Index", "Partners")',
                selector: '#partnerTableWrapper'
            });

            $(Pagination).on('before', function (e) {
                e.preventDefault();
                var usersFilterFormValues = $('#FormPatnerfilter').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });

                e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            });

            addUsersPageHandlers();

            addPaginationHandlers();
            function addUsersPageHandlers() {

                /* Custom Handlers */
                $('#FormPatnerfilter').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                })

                $('#btnformpartnerfilter').on('click', function (e) {
                    e.preventDefault();
                    Pagination.getData();
                    return false;
                });
            }
        });
    </script>



}