@using Mpmt.Web.Areas.Admin.ViewModels.Paetner.WalletCurrency
@model PartnerWalletCurrencyVm

<form id="FormUpdateWalletCuurency" class="form-horizontal auth-form" method="post" autocomplete="off">
     <ul>
        @if (ViewBag.Error is not null)
        {
            <li class="text-danger">@ViewBag.Error</li>
        }
    </ul>
    <div class="row">
        <input type="hidden" asp-for="PartnerCode" value="@ViewBag.PartnerCode" />
        <input type="hidden" asp-for="Id"/>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="exampleFormControlSelect1">Source Currency</label>
            <select asp-for="SourceCurrency" class="form-select" id="exampleFormControlSelect1" asp-items="ViewBag.SourceCurrencyddl">
               
            </select>
        </div>
        <div class="col-md-6 mb-2">
            <label class="form-label">Notification Balance</label>
            <input asp-for="NotificationBalanceLimit" type="number" class="form-control">
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label" for="exampleFormControlSelect1">Destination Currency</label>
            <select asp-for="DestinationCurrency" class="form-select" id="exampleFormControlSelect1" asp-items="ViewBag.DestinationCurrencyddl">
             

            </select>
        </div>

        <div class="col-md-6  mb-3">
            <label class="form-label" for="exampleFormControlSelect1">Markup Value</label>

            <div class="input-group">
                <input asp-for="MarkupMinValue" type="number" class="form-control" placeholder="min">
                <input asp-for="MarkupMaxValue" type="number" class="form-control" placeholder="max">
                <div class="input-group-append">
                    <select asp-for="TypeCode" class="form-select form-control" aria-label=".">
                        <option value="PERC" selected>Perc</option>
                        <option value="FLAT">Flat</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group mb-2">
            <label class="form-label" for="userpassword">Credit Limit</label>
            <div class="input-group">
                <input asp-for="CreditLimit" type="text" class="form-control" onkeypress="return isNumber(event)" placeholder="Enter Credit Limit">
            </div>
            <span asp-validation-for="CreditLimit" class="text-danger"></span>

        </div>
        <div class="col-md-12 form-group mb-2">
            <label class="form-label" for="userpassword">Remarks</label>
            <textarea asp-for="Remarks" cols="30" rows="3" class="form-control"></textarea>
        </div>

        <div class="form-group mb-0 row mt-4">
            <div class="button-items">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs="modal">Submit</button>
            </div>

        </div>
    </div>
</form>
<script>
    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("UpdatePartnerWalletCurrency", "Partners")',
        containerSelector: '#add-new .modal-body',
        selector: '#FormUpdateWalletCuurency'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');
        Pagination.getData();
    });
</script>