@using Mpmt.Core.ViewModel.CashAgent;

@model AgentChangePasswordVM

<form id="agentChangePassword" class="form-horizontal auth-form" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            <li class="text-danger">@ViewBag.Error</li>
        }
    </ul>
    <div class="row">
       

        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="userpassword">Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="OldPassword" id="oldPassword" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('oldPassword')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleOld"></i>
                </span>
            </div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>



        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="userpassword"> New Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="NewPassword" id="NewPassword" maxlength="50" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('NewPassword')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleNew"></i>
                </span>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

       
        <div class="col-md-12 mb-2 form-control-wrap focused">
            <label class="form-label" for="userpassword">Confirm Password<span style="color:firebrick">*</span></label>
            <div class="input-group">
                <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                <input asp-for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" placeholder="Password">
                <!-- Eye icon toggle -->
                <span class="input-group-text toggle-password" onclick="togglePassword('confirmPassword')">
                    <i class="mdi mdi-eye-off-outline" id="eyeToggleConfirm"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button> &emsp;
        <button class="btn btn-sm btn-primary">Submit<i class="fas fa-paper-plane ms-1"></i></button>
    </div>
</form>
<script src="~/js/admin.users.js"></script>
<script>

    function togglePassword(inputId) {
        debugger;
        var passwordInput = document.getElementById(inputId);
        var eyeIcon = document.getElementById('eyeToggle' + inputId.charAt(0).toUpperCase() + inputId.slice(1));

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove('mdi-eye-off-outline');
            eyeIcon.classList.add('mdi-eye-outline');
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove('mdi-eye-outline');
            eyeIcon.classList.add('mdi-eye-off-outline');
        }
    }


    FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("ChangePassword", "Agent")',
        containerSelector: '#add-new .modal-body',
        selector: '#agentChangePassword'
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');

    });
</script>
<script src="~/js/ValidationScript.js"></script>