<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - Admin</title>
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mpmt.Web.styles.css" asp-append-version="true" />*@

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*  <link rel="stylesheet" href="~/css/LoaderCss.css" asp-append-version="true" />*@

    <style>
        .loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
        }

        .loader {
            background-color: transparent;
            display: none;
            width: 200px;
            height: 200px;
            position: fixed;
            top: 50%;
            left: 50%;
            text-align: center;
            margin-left: -50px;
            margin-top: -100px;
            z-index: 2;
            overflow: auto;
        }
    </style>


    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo.png">
    <!-- jvectormap -->
    <!-- App css -->
    @*     <link rel="stylesheet" href="~/assets/plugins/jquery-steps/jquery.steps.css">
    *@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    @*     <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    *@
    <!-- select2 css -->
    <link rel="stylesheet" href="~/partner/assets/plugins/select2/css/select2.min.css">
    <!-- multi-select css -->
    <link rel="stylesheet" href="~/partner/assets/plugins/multi-select/css/multi-select.css">

    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" type="text/css" />
    @*    <link href="~/partner/assets/multi-select/css/multi-select.css" rel="stylesheet" /> *@
    <link href="~/partner/assets/css/style.css" rel="stylesheet" type="text/css" />

    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



</head>
<body>
    <div class="ajax-loading-busy lds-dual-ring display-none loader-animation-overlay"></div>
    <!-- Left Sidenav -->
    @await Component.InvokeAsync("SideNavigation")
    <!-- end left-sidenav-->
    <div class="page-wrapper">
        <!-- Top Bar Start -->
        @await Component.InvokeAsync("TopMenuBar")
        <!-- Top Bar End -->

        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    <div id="add-new" class="modal fade bd-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title m-0" id="myLargeModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body test-class">


                    <!-- [ Model Body ] -->
                </div>
            </div>
        </div>
    </div>

    <div id="add-new-overlay" class="modal fade bd-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title m-0" id="myLargeModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body test-class">


                    <!-- [ Model Body ] -->
                </div>
            </div>
        </div>
    </div>

    <div id="loading" class="loader" style="display:none">
        <center>
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </center>
    </div>
    <!-- end page-wrapper -->
    <!-- jQuery  -->

    <script>
        tippy('.tippy-btn');
        tippy('#myElement', {
            html: document.querySelector('#feature__html'), // DIRECT ELEMENT option
            arrow: true,
            animation: 'fade'
        });
    </script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/partner/assets/js/app.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/moment.js"></script>
    <script src="~/partner/assets/js/jquery.min.js"></script>
    @*     <script src="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script> *@
    @*     <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script>
    *@
    <script src="~/assets/pages/jquery.forms-advanced.js"></script>
    @*     <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    *@
    <link href="~/partner/assets/plugins/daterangepickers/daterangepicker.css" rel="stylesheet" />


    <!-- select2 Js -->
    <script src="~/partner/assets/plugins/select2/js/select2.full.min.js"></script>
    <!-- multi-select Js -->
    @*     <script src="~/partner/assets/plugins/multi-select/js/jquery.multi-select.js"></script> *@






    <script src="~/CustomJs/jquery.quicksearch.js"></script>

    <script src="~/CustomJs/jquery.multi-select.js"></script>


    @*

    <script src="~/assets/plugins/timepicker/bootstrap-material-datetimepicker.js"></script> *@
    @* <script src="~/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script> *@


    <!-- App js -->
    <script src="~/assets/pages/jquery.form-upload.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    @* <script src="~/assets/plugins/select2/select2.min.js"></script> *@
    @*     <script src="~/assets/plugins/daterangepicker/daterangepicker.js"></script> *@
    @*     <script src="~/assets/plugins/dropify/js/dropify.min.js"></script>
    *@
    <script src="~/assets/plugins/tippy/tippy.all.min.js"></script>

    <!-- App js -->
    @*
    <script src="~/assets/js/jquery.core.js"></script>
    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap5.min.js"></script>
    <!-- Buttons examples -->

    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/pages/jquery.datatable.init.js"></script>
    @*<script src="~/assets/pages/jquery.sales_dashboard.init.js"></script>*@
    @*
    <script src="~/assets/plugins/jquery-steps/jquery.steps.min.js"></script> *@
    <script src="~/assets/plugins/jquery.steps.min.js"></script>
    <script src="~/assets/pages/jquery.form-wizard.init.js"></script>





    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>






    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            if (feather)
                feather.replace();
        })
    </script>
</body>
</html>
