



<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item "><a href="javascript:void(0);">Reports</a></li>
                                <li class="breadcrumb-item active">Transaction Report</li>
                            </ol>
                        </div><!--end col-->
                        <div class="col-auto">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-auto align-self-center">
                            <div class="general-label">
                                <form class="row  align-items-center">
                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">Start Date</label>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">End Date</label>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Agent name">
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">District</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option>Kathamndu</option>
                                            <option>Biratnagar</option>
                                            <option>Hetauda</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Transaction ID">
                                        </div>
                                    </div>

                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">Sign</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option>Select Sign</option>
                                            <option>Credit</option>
                                            <option>Debit</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">From Currency</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option>Select Source Currency</option>
                                            <option>USD</option>
                                            <option>AUD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-3 form-control-wrap focused">
                                        <label class="form-label-outlined" for="inlineFormSelectPref">To Currency</label>
                                        <select class="form-select" id="validationTooltip04" required>
                                            <option>Select Destination Currency</option>
                                            <option>NPR</option>
                                            <option>USD</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2 mb-3">
                                        <button type="buton" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                    </div>
                                </form>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row--><!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Transaction Report</h4>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body overflow-x-auto">
                        <table id="datatable-buttons" class="table table-striped  nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 80px;white-space:wrap">Date </th>
                                    <th>Sender Details</th>
                                    <th>Receiver Details</th>
                                    <th>Transaction ID</th>
                                    <th> Commission</th>
                                    <th>Source Currency</th>
                                    <th>Payment Type </th>
                                    <th>Status</th>
                                    <th>Receiver  Status </th>

                                    <th>Receipt</th>
                                    <th>Amount</th>
                                    <th>Payout</th>

                                    <th>Check Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>03-Jan-2023 <br><small>03:08:12 PM </small></td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#sender" class="text-primary">REM99529118</a></td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#receiver" class="text-primary">#03012023444</td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#transaction" class="text-primary">79988756021</td>
                                    <td>211 </td>
                                    <td>1000 AUD </td>
                                    <td>Mobile Banking</td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#trnstatus" class="text-primary">View </td>

                                    <td><span class="badge badge-soft-success px-2">Registered</span></td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#receipt" class="text-primary">View</a>
                                    </td>
                                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#trnstatus" class="text-primary">Rs.5500 </td>
                                    <td name="buttons">
                                        <button type="button" class="btn btn-sm btn-warning btn-circle me-2">
                                            Payout
                                        </button>
                                    </td>
                                    <td name="buttons">
                                        <button type="button" class="btn btn-sm btn-warning btn-circle me-2">
                                            Check Status
                                        </button>
                                    </td>
                                    <td name="buttons">
                                        <button type="button" class="btn btn-sm btn-soft-warning btn-circle me-2" data-bs-toggle="modal" data-bs-target="#Transaction">
                                            <i class="dripicons-preview"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <thead class="table-light">
                                <tr>
                                    <th colspans="3">Total</th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div><!-- container -->
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="Transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLogin">Transaction Report Detail</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="card-body p-0 auth-header-box mb-3">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">

                            <tbody>
                                <tr>
                                    <td><span>Date :</span></td>
                                    <td><span>22-Jan-2023 11:58:16 AM</span></td>
                                </tr>
                                <tr>
                                    <td><span>Merchant Member Id :</span></td>
                                    <td><span class="tb-lead">10009</span></td>
                                </tr>
                                <tr>
                                    <td><span>Merchant Unique Id :</span></td>
                                    <td><span class="tb-lead">REM99529118</span></td>
                                </tr>
                                <tr>
                                    <td><span>Transaction Id :</span></td>
                                    <td><span><strong style="color: #f98c45">#22012023061316131612250903277</strong></span></td>
                                </tr>
                                <tr>
                                    <td><span>Gateway Transaction Id :</span></td>
                                    <td><span>786465465465</span></td>
                                </tr>
                                <tr>
                                    <td><span>Parent Transaction Id :</span></td>
                                    <td><span></span></td>
                                </tr>
                                <tr>
                                    <td><span>Merchant Name :</span></td>
                                    <td><span>Ravi Sehgal</span></td>
                                </tr>
                                <tr>
                                    <td><span>Merchant Contact No. :</span></td>
                                    <td><span>2342342342</span></td>
                                </tr>
                                <tr>
                                    <td><span>From Currency:</span></td>
                                    <td><span class="tb-lead">NPR</span></td>
                                </tr>
                                <tr>
                                    <td><span>From Amount:</span></td>
                                    <td><span class="tb-lead">1000</span></td>
                                </tr>
                                <tr>
                                    <td><span>To Currency:</span></td>
                                    <td><span class="tb-lead"></span></td>
                                </tr>
                                <tr>
                                    <td><span>To Amount:</span></td>
                                    <td><span class="tb-lead">0</span></td>
                                </tr>
                                <tr>
                                    <td><span>Sign : </span></td>
                                    <td><span class="tb-status text-success">Credit</span></td>
                                </tr>
                                <tr>
                                    <td><span>Beneficiary Account No. :</span></td>
                                    <td><span></span></td>
                                </tr>
                                <tr>
                                    <td><span>Beneficiary Bank Name :</span></td>
                                    <td><span></span></td>
                                </tr>
                                <tr>
                                    <td><span>Beneficiary Branch Name :</span></td>
                                    <td><span></span></td>
                                </tr>
                                <tr>
                                    <td><span>Service Charge :</span></td>
                                    <td><span>0</span></td>
                                </tr>
                                <tr>
                                    <td><span>Conversion Rate :</span></td>
                                    <td><span>0</span></td>
                                </tr>
                                <tr>
                                    <td><span>Converted Amount :</span></td>
                                    <td><span>0</span></td>
                                </tr>
                                <tr>
                                    <td><span>Wallet Type :</span></td>
                                    <td><span>Prefund</span></td>
                                </tr>
                                <tr>
                                    <td><span>Type :</span></td>
                                    <td><span>LoadWallet</span></td>
                                </tr>
                                <tr>
                                    <td><span>Remarks:</span></td>
                                    <td><span>test</span></td>
                                </tr>
                                <tr>
                                    <td><span>Gateway Status:</span></td>
                                    <td><span></span></td>
                                </tr>
                                <tr>
                                    <td><span>Status :</span></td>
                                    <td><span class="tb-status text-success">Success</span></td>
                                </tr>
                                <tr>
                                    <td><span>Ip Address :</span></td>
                                    <td><span>2401:4900:1f34:54a9:b08b:5e9c:9cb1:fa03</span></td>
                                </tr>
                                <tr>
                                    <td><span>Status :</span></td>
                                    <td><span>lorem ipsum lorem ipsum</span></td>
                                </tr>
                            </tbody>
                        </table><!--end /table-->
                    </div>
                    <div class="mt-4">
                        <div class="button-items">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!--end modal-body-->

        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="sender" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLogin">Sender Detail</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="card-body p-0 auth-header-box mb-3">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 table-sm">

                            <tbody>
                                <tr>
                                    <td><span>User ID :</span></td>
                                    <td><span>#121545</span></td>
                                </tr>
                                <tr>
                                    <td><span>Full Name :</span></td>
                                    <td><span class="tb-lead">James Pradhan</span></td>
                                </tr>
                                <tr>
                                    <td><span>Country :</span></td>
                                    <td><span class="tb-lead">Nepal</span></td>
                                </tr>
                                <tr>
                                    <td><span>Number :</span></td>
                                    <td><span><strong style="color: #f98c45">984158512</strong></span></td>
                                </tr>
                                <tr>
                                    <td><span>Email :</span></td>
                                    <td><span>jamespradahan@gmail.com</span></td>
                                </tr>
                                <tr>
                                    <td><span>Payment Description :</span></td>
                                    <td><span>lorem ipsum lorem ipsum</span></td>
                                </tr>
                                <tr>
                                    <td><span>Sending Amount:</span></td>
                                    <td><span>500 AUD</span></td>
                                </tr>
                                <tr>
                                    <td><span>Relation:</span></td>
                                    <td><span>lorem ipsum</span></td>
                                </tr>
                                <tr>
                                    <td><span>Document:</span></td>
                                    <td><img src="assets/images/small/img-1.jpg" alt="" class="img-fluid height-150 "></td>
                                </tr>
                            </tbody>
                        </table><!--end /table-->
                    </div>
                    <div class="mt-4">
                        <div class="button-items">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!--end modal-body-->

        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="receiver" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLogin">Receiver Detail</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="card-body p-0 auth-header-box mb-3">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 table-sm">

                            <tbody>
                                <tr>
                                    <td><span>User ID :</span></td>
                                    <td><span>#121545</span></td>
                                </tr>
                                <tr>
                                    <td><span>Full Name :</span></td>
                                    <td><span class="tb-lead">James Pradhan</span></td>
                                </tr>
                                <tr>
                                    <td><span>Country :</span></td>
                                    <td><span class="tb-lead">Nepal</span></td>
                                </tr>
                                <tr>
                                    <td><span>Address :</span></td>
                                    <td><span class="tb-lead">Radhe Radhey Bhaktapur</span></td>
                                </tr>
                                <tr>
                                    <td><span>Number :</span></td>
                                    <td><span><strong style="color: #f98c45">9481548154</strong></span></td>
                                </tr>
                                <tr>
                                    <td><span>Email :</span></td>
                                    <td><span>jamespradahan@gmail.com</span></td>
                                </tr>
                                <tr>
                                    <td><span>A/c Details :</span></td>
                                    <td><span>6595262695</span></td>
                                </tr>
                                <tr>
                                    <td><span>Receiving Amount:</span></td>
                                    <td><span>500 AUD</span></td>
                                </tr>

                            </tbody>
                        </table><!--end /table-->
                    </div>
                    <div class="mt-4">
                        <div class="button-items">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!--end modal-body-->

        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="transaction" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLogin">Txn Detail</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <div class="card-body p-0 auth-header-box mb-3">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 table-sm">

                            <tbody>
                                <tr>
                                    <td><span>Txn ID :</span></td>
                                    <td><span>#03012023103444344456470857278	</span></td>
                                </tr>
                                <tr>
                                    <td><span>gateway Txn ID :</span></td>
                                    <td><span class="tb-lead">79988785446846156</span></td>
                                </tr>
                                <tr>
                                    <td><span>Reference Number</span></td>
                                    <td><span>2201202306140214208736616198</span></td>
                                </tr>

                            </tbody>
                        </table><!--end /table-->
                    </div>
                    <div class="mt-4">
                        <div class="button-items">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!--end modal-body-->

        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div>

